# Configuration file

##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# General client settings
##########################################################################################################

client {
    # Should the advanced stat info tooltips for jetpacks be enabled? [default: true]
    B:advanced_info=true

    # Should jetpack particles be enabled? [default: true]
    B:jetpack_particles=true

    # Should jetpack sounds be enabled? [default: true]
    B:jetpack_sounds=true
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # Should jetpacks be enchantable? [default: true]
    B:enchantable_jetpacks=true
}


##########################################################################################################
# hud
#--------------------------------------------------------------------------------------------------------#
# HUD settings
##########################################################################################################

hud {
}


##########################################################################################################
# recipes
#--------------------------------------------------------------------------------------------------------#
# Recipe settings
##########################################################################################################

recipes {
    # Non-nested recipes. Each jetpack requires a Leather Strap instead of a previous tier jetpack. [default: false]
    B:basic_recipes=false

    # Nested recipes. Each jetpack requires a previous tier jetpack. [default: true]
    B:upgrade_recipes=true
}


