# Configuration file

nex {

    client {

        visual {
            B:disableNetherFog=true
        }

    }

    dimension {

        nether {
            B:generateGravel=false
            B:generateSoulSand=false
            B:isLavaInfinite=false
        }

    }

    block {

        nether_portal {
            B:allowPigmanSpawning=true

            # The higher the number, the rarer it is for Pigman to spawn
            # The lower the number, the more common it is for Pigman to spawn
            # Min: 4
            # Max: 2048
            I:pigmanSpawnRarity=2000
        }

        netherrack {
            B:allowAllShovelsToFlatten=false
        }

        soul_sand {
            B:allowAllHoesToTill=false
            B:doesNetherwartUseNewGrowthSystem=true
            B:doesRequireIchor=true
        }

        magma {
            B:turnIntoLava=false
        }

        rime {
            B:canFreezeLava=true
            B:canFreezeMobs=true
            B:canFreezeWater=true
        }

        thornstalk {
            # Mobs the Thornstalk shouldn't hurt
            S:blacklist <
                minecraft:wither_skeleton
                minecraft:zombie_pigman
                nex:monster_spinout
             >
            B:canDestroyItems=false
        }

        hyphae {
            B:doesSpread=false
        }

    }

    potion_effect {

        freeze {
            # Mobs that shouldn't freeze
            S:blacklist <
                minecraft:blaze
                minecraft:ghast
                minecraft:wither_skeleton
                minecraft:polar_bear
                nex:monster_wight
                nex:monster_ember
                nex:monster_spinout
                nex:monster_bone_spider
                nex:monster_brute
             >

            # The higher the number, the rarer it is to thaw
            # The lower the number, the more common it is to thaw
            # Min: 1
            # Max: 2048
            I:chanceOfThawing=1024
        }

        spore {
            # Mobs that shouldn't spawn Spores
            S:blacklist <
                nex:monster_spore_creeper
                nex:monster_spore
                nex:neutral_mogus
             >

            # The higher the number, the rarer it is to spawn a Spore
            # The lower the number, the more common it is to spawn a Spore
            # Min: 1
            # Max: 256
            I:chanceOfSporeSpawning=128
        }

        lost {
            # The higher the number, the rarer it is to spawn a Ghastling
            # The lower the number, the more common it is to spawn a Ghastling
            # Min: 1
            # Max: 256
            I:chanceOfGhastlingSpawning=256
        }

    }

    entity {

        ember {
            # The higher the number, the rarer it is to set a player on fire
            # The lower the number, the more common it is to set a player on fire
            # Min: 1
            # Max: 256
            I:chanceOfSettingPlayerOnFire=1
        }

        nethermite {
            # The higher the number, the rarer it is for a Nethermite to spawn
            # The lower the number, the more common it is for a Nethermite to spawn
            # Min: 1
            # Max: 256
            I:chanceOfSpawning=64

            # Blocks the Nethermite should spawn from
            S:whitelist <
                minecraft:quartz_ore
                nex:ore_quartz
                nex:ore_amethyst
                nex:ore_rime
                tconstruct:ore
                nethermetals:nether_coal_ore
                nethermetals:nether_redstone_ore
                nethermetals:nether_diamond_ore
                nethermetals:nether_emerald_ore
                nethermetals:nether_gold_ore
                nethermetals:nether_iron_ore
                nethermetals:nether_lapis_ore
                nethermetals:nether_antimony_ore
                nethermetals:nether_bismuth_ore
                nethermetals:nether_copper_ore
                nethermetals:nether_lead_ore
                nethermetals:nether_mercury_ore
                nethermetals:nether_nickel_ore
                nethermetals:nether_platnium_ore
                nethermetals:nether_silver_ore
                nethermetals:nether_tin_ore
                nethermetals:nether_zinc_ore
                nethermetals:nether_aluminum_ore
                nethermetals:nether_cadmium_ore
                nethermetals:nether_chromium_ore
                nethermetals:nether_iridium_ore
                nethermetals:nether_magnesium_ore
                nethermetals:nether_magnanese_ore
                nethermetals:nether_osmium_ore
                nethermetals:nether_plutonium_ore
                nethermetals:nether_rutile_ore
                nethermetals:nether_tantalum_ore
                nethermetals:nether_titanium_ore
                nethermetals:nether_tungsten_ore
                nethermetals:nether_uramium_ore
                nethermetals:nether_zirconium_ore
             >
        }

        spinout {
            # The lower the number, the less time a Spinout goes without spinning
            # The higher the number, the more time a Spinout goes without spinning
            # Min: 1
            # Max: 512
            I:spinCooldown=2

            # The lower the number, the less time a Spinout spins
            # The higher the number, the more time a Spinout spins
            # Min: 1
            # Max: 512
            I:spinTime=6
        }

        spore_creeper {
            # The higher the number, the rarer it is for s Spore Creeper to spawn a Spore on death
            # The lower the number, the more common it is for a Spore Creeper to spawn a Spore on death
            # Min: 1
            # Max: 256
            I:chanceOfSporeSpawning=12
        }

        spore {
            # The lower the number, the less Spore Creeper spawn from a Spore
            # The higher the number, the more Spore Creeper spawn from a Spore
            # Min: 1
            # Max: 256
            I:creeperSpawns=3

            # The lower the number, the less it takes a Spore to grow
            # The higher the number, the more time it takes for a Spore to grow
            # Min: 1
            # Max: 512
            I:growthTime=60
        }

        brute {
            # The lower the number, the less cooldown the Brute has after charging
            # The higher the number, the more cooldown the Brute has after charging
            # Min: 1
            # Max: 512
            I:chargeCooldown=2
        }

        ghast_queen {
            # The lower the number, the less cooldown the Ghast Queen has after spawning Ghastlings
            # The higher the number, the more cooldown the Ghast Queen has after spawning Ghastlings
            # Min: 1
            # Max: 512
            I:ghastlingSpawnCooldown=10

            # The lower the number, the less Ghastling spawn
            # The higher the number, the more Ghastling spawn
            # Min: 1
            # Max: 256
            I:ghastlingSpawns=4
        }

    }

    biome {

        hell {
        }

        ruthless_sands {
            B:generateThornstalk=true

            # The lower the number, the rarer Thornstalk is
            # The higher the number, the more common Thornstalk is
            # Min: 1
            # Max: 256
            I:thornstalkRarity=10
        }

        fungi_forest {
            # The lower the number, the rarer Elder Mushrooms are
            # The higher the number, the more common Elder Mushrooms are
            # Min: 1
            # Max: 256
            I:elderMushroomRarity=32

            # The lower the number, the rarer Enoki Mushrooms are
            # The higher the number, the more common Enoki Mushrooms are
            # Min: 1
            # Max: 256
            I:enokiMushroomRarity=4
            B:generateElderMushrooms=true
            B:generateEnokiMushrooms=true
        }

        torrid_wasteland {
        }

        arctic_abyss {
            # The higher the number, the rarer it is for mobs to Freeze in the Arctic Abyss biome
            # The lower the number, the more common it is for mobs to Freeze in the Arctic Abyss biome
            # Min: 1
            # Max: 2048
            I:chanceOfFreezing=512
        }

    }

}


