# Configuration file

##########################################################################################################
# data
#--------------------------------------------------------------------------------------------------------#
# Defines a list of animals that can not be used in an bootes ritual to gain drops from. List animals with their registry name (e.g. parrots would be 'minecraft:parrot')
##########################################################################################################

data {
    #  [default: ]
    S:data <
     >
}


