# Configuration file

display {
    # Units to use when displaying power. Valid values: MJ, EU, RF, T
    S:PowerShowUnits=RF
}


tooltips {
    # If false will only show tooltip in Syngas Producer GUI
    B:AlwaysShowCarbonTooltip=true

    # If false will only show tooltip in Turbine GUI
    B:AlwaysShowFuelTooltip=true
}


