# Configuration file

~CONFIG_VERSION: 2.1.2

client {
    # Favorite grave [default: TOMBSTONE]
    S:favoriteGrave=TOMBSTONE

    # Highlight the tomb from far when holding the key [default: true]
    B:highlight=true

    # Show fog around the graves [default: true]
    B:showFog=true

    # showItemDesc [default: true]
    B:showItemDesc=true

    # showItemUse [default: true]
    B:showItemUse=true

    # Decimal value for the color of the grave text <Death Date> [range: 0 ~ 16777215, default: 2962496]
    I:textColorDeathDate=2962496

    # Decimal value for the color of the grave text <Owner Name> [range: 0 ~ 16777215, default: 5991302]
    I:textColorOwner=5991302

    # Decimal value for the color of the grave text <R.I.P.> [range: 0 ~ 16777215, default: 2962496]
    I:textColorRIP=2962496
}


general {
    # Chance on 1000 for undead mobs to drop Grave's Dust  [range: 0 ~ 1000, default: 100]
    I:chanceGraveDust=100

    # Chance on 1000 for graves to get a soul when it thunders [range: 0 ~ 200, default: 4]
    I:chanceGraveSoul=4

    # Time in minutes before tomb doesn't need key (-1 = disable) [range: -1 ~ 2147483647, default: -1]
    I:decayTime=-1

    # Duration of Ghostly Shape Effect in seconds [range: 0 ~ 600, default: 120]
    I:ghostlyShapeDuration=120

    # Always give a Grave's Key at player's death [default: true]
    B:graveKeyOnDeath=true

    # Maximum range for placement of player's graves [range: 0 ~ 5, default: 2]
    I:graveRange=2

    # Handle the player's death [default: true]
    B:handlePlayerDeath=true

    # Log player's grave positions [default: false]
    B:logPlayerGrave=false

    # Require the Grave's Key to open the player's grave [default: true]
    B:playerGraveAccess=true

    # PVP Mode allowing to open the tombstone of killed players [default: false]
    B:pvpMode=false

    # config.restoreEffectsonDeath [default: false]
    B:restoreEffectsonDeath=false

    # Radius to collect items around when a player grave is spawnned [range: 0 ~ 10, default: 5]
    I:snifferRange=5

    # Maximum number of uses for tablet [range: 1 ~ 10, default: 3]
    I:tabletUseCount=3

    # Allow teleport to others dimensions [default: true]
    B:teleportDim=true

    # unbreakableDecorativeGrave [default: false]
    B:unbreakableDecorativeGrave=false

    # Allow the undeads to have a low chance to drop their skull [default: true]
    B:undeadCanDropSkull=true

    # Allow to upgrade the Grave's Key [default: true]
    B:upgradeGraveKey=true

    # Experience loss (%) [range: 25 ~ 100, default: 0]
    I:xpLoss=0
}


