# editorconfig.org
root = true

[*]
indent_style = tab
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Some need special encoding for coloring
[!config/**]
charset = utf-8

# Since EOL causes changes every time the mod re-runs over it
[config/**]
end_of_line = none

[*.md]
trim_trailing_whitespace = false
