# editorconfig.org
root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[/config/**]
end_of_line = none

[*.md]
trim_trailing_whitespace = false
