src/config/AppliedEnergistics2/Facades.cfg
src/config/AppliedEnergistics2/aerecipes/*
src/config/AppliedEnergistics2/recipes/*
src/config/AppliedEnergistics2/items.csv
src/config/InvTweaks.cfg
src/config/Mercurius.cfg
src/config/MouseTweaks.cfg
src/config/buildcraft/detailed.properties
src/config/cd4017be/inductiveLogistics.rcp
src/config/cd4017be/compiled.dat
src/config/jei/worldSettings.cfg
src/config/splash.properties
src/config/worldutils/*

#IDE
.idea/

#Mac Desktop Services Store
.DS_Store

*.dat
