# Un-Needed Mod Bloat
src/config/AppliedEnergistics2/items.csv
src/config/AppliedEnergistics2/aerecipes/*
src/config/cd4017be/inductiveLogistics.rcp
src/config/cd4017be/inductiveLogistics.rcp.old
src/config/cd4017be/compiled.dat

# Client Only Files
src/config/InvTweaks.cfg
src/config/MouseTweaks.cfg
src/config/jei/worldSettings.cfg
src/config/jei/lookupHistory.zip
src/config/buildcraft/detailed.properties

# Other
src/config/worldutils/*
src/config/sampler.ini

# IDE
.idea/

# Stuff
.DS_Store
*.dat
