# Configuration file

"viescraft config" {

    ##########################################################################################################
    # §ageneral
    #--------------------------------------------------------------------------------------------------------#
    # General airship options.
    ##########################################################################################################

    "§ageneral" {
        # Should Player Dismounter be craftable? [default: true]
        B:"§fEnable Player Dismounter Recipe?"=true
    }

    ##########################################################################################################
    # §bfuel
    #--------------------------------------------------------------------------------------------------------#
    # Airship fuel options.
    ##########################################################################################################

    "§bfuel" {
        # Should airships be able to use other mod's fuel? [default: true]
        B:"§fEnable using other mod's fuel?"=true

        # Should airships be able to use vanilla fuel? [default: true]
        B:"§fEnable using vanilla fuel?"=true

        # How long does Viesoline burn for in seconds?  [range: 1 ~ 500, default: 90]
        I:"§fViesoline Burn Time?"=90
    }

    ##########################################################################################################
    # §6client
    #--------------------------------------------------------------------------------------------------------#
    # Client airship options.
    ##########################################################################################################

    "§6client" {
        # Should airships have engine sounds when powered? [default: true]
        B:"§fEnable airship engine sounds?"=true

        # Should airships display their overhead nameplates? [default: true]
        B:"§fEnable airship overhead nameplates?"=true
    }

}


