#Sets the dimension script for dimension 0
setScriptForDimension(0, "Larger_Rivers")

#If uncommented, prints an image representing the biome map for dimension 0. Good for getting an idea of how it looks on a large scale.
#addBiomePrinter(0, 500, 500, 5, -1250, -1250, false)