# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # RF per tick/per block for the console screen module
    I:consoleModuleRFPerTick=2

    # If true double click is needed in programmer to change connector. If false single click is sufficient
    B:doubleClickToChangeConnector=true

    # RF per tick/per block for the interaction screen module
    I:interactionModuleRFPerTick=2

    # Maximum amount of craft requests supported by the crafting station. More requests will be ignored
    I:maxCraftRequests=200

    # Maximum amount of event queue entries supported by a processor. More events will be ignored
    I:maxEventQueueSize=100

    # Maximum amount of graphics opcodes that a graphics card supports
    I:maxGraphicsOpcodes=30

    # Maximum stack size for a program (used by 'call' opcode)
    I:maxStackSize=100

    # Maximum number of lines to keep in the log
    I:processorMaxLogLines=100

    # Maximum RF storage that the processor can hold
    I:processorMaxRF=100000

    # RF per tick that the processor can receive
    I:processorRFPerTick=1000

    # RF per tick for the CPU Core B500
    I:rfB500=4

    # RF per tick for the CPU Core EX2000
    I:rfEX2000=50

    # RF per tick for the CPU Core S1000
    I:rfS1000=14

    # Amount of instructions per tick for the CPU Core B500
    I:speedB500=1

    # Amount of instructions per tick for the CPU Core EX2000
    I:speedEX2000=16

    # Amount of instructions per tick for the CPU Core S1000
    I:speedS1000=4

    # If 2 tooltips in the programmer gui are verbose and give a lot of info. With 1 the information is decreased. 0 means no tooltips
    I:tooltipVerbosityLevel=2

    # RF per tick/per block for the variable screen module
    I:variableModuleRFPerTick=1

    # RF per tick/per block for the vector art screen module
    I:vectorArtModuleRFPerTick=2
}


