# Configuration file

colors {
    # The blue color value for defaultColor [range: 0 ~ 255, default: 73]
    I:defaultColorBlue=193

    # The green color value for defaultColor [range: 0 ~ 255, default: 162]
    I:defaultColorGreen=128

    # The red color value for defaultColor [range: 0 ~ 255, default: 59]
    I:defaultColorRed=47
}


fogcolor {
    S:fogColorBlue=0.02999
    S:fogColorGreen=0.2
    S:fogColorRed=0.02999
}


general {
    # Should peaceful mobs be allowed to spawn in the hunting dimension? [default: false]
    B:allowPeacefulMobs=false

    # Should players respawn inside of the hunting dimension? [default: false]
    B:allowRespawn=false

    # The amount of additional armor to give mobs that spawn in the hunting dimension. [range: 0 ~ 30, default: 4]
    I:buffArmor=4

    # The percentage of additional attack damage to give mobs that spawn in the hunting dimension. [range: 0.0 ~ 1000.0, default: 0.3]
    S:buffAttack=0.3

    # The percentage of additional health to give mobs that spawn in the hunting dimension. [range: 0.0 ~ 1000.0, default: 0.3]
    S:buffHealth=0.3

    # The chance that the portal will play a sound. Default is a 1 in 100 chance. [range: 0 ~ 10000, default: 100]
    I:chanceSound=100

    # The chance that the portal will spawn a mob. Peaceful, easy, normal and hard have a 0, 1, 2, and 3 in X chance of spawning a mob, where X is the configured value. [range: 0 ~ 10000, default: 2000]
    I:chanceSpawn=2000

    # The id for the hunting dimension. [range: -2147483648 ~ 2147483647, default: 28885]
    I:dimensionId=28885

    # Whenever a mob dies in the hunting dimension, there is a chance that it will drop additional exp. [range: 0.0 ~ 1.0, default: 0.2]
    S:expChance=0.2

    # When a mob dies, it can drop additional exp. This changes how much more exp it will drop. Default is 2.5x. [range: 0.0 ~ 128.0, default: 2.5]
    S:expModifier=2.5

    # The biome to use when generating the hunting dimension. If an invalid id is used, plains will be defaulted. [default: minecraft:plains]
    S:initialBiome=minecraft:plains

    # Whenever a mob dies in the hunting dimension, there is a chance that it will have +1 levels of looting applied to it's drop. Set to 0 to disable. [range: 0.0 ~ 1.0, default: 0.25]
    S:lootingChance=0.25

    # If true, the mining dimension will use the same world generator as the surface world. For example, if the surface is flat so will the dimension. [default: false]
    B:mimicSurfaceWorld=false

    # Should hostile mobs be allowed to spawn in the overworld? [default: true]
    B:mobsInSurface=true

    # While true, beneficial potion effects on players will wear off twice as fast. [default: true]
    B:quickPotionWearOff=false

    # The dimension to go to when you return from the hunting dimension. [range: -2147483648 ~ 2147483647, default: 0]
    I:returnDimension=0

    # Whether or not the hunting dimension should be an empty void world. [default: false]
    B:useVoidWorld=false

    # The type of world to use for the hunting dimension. Vanilla values include default, flat, largeBiomes, amplified, customized, debug_all_block_states, and default_1_1 Keep in mind that this will be ignored if you use mimicSurfaceWorld! [default: default]
    S:worldType=default
}


