# Configuration file

controllerchannelrft {
    # Power usage for the controller per active channel [range: 0 ~ 1000000000, default: 1]
    I:general=1
}


controlleroperationrft {
    # Power usage for the controller per operation performed by one of the channels [range: 0 ~ 1000000000, default: 2]
    I:general=2
}


controllerrfpertick {
    # Power usage for the controller regardless of what it is doing [range: 0 ~ 1000000000, default: 0]
    I:general=0
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
}


maxfluidrateadvanced {
    # Maximum fluid per operation that an advanced connector can input or output [range: 1 ~ 1000000000, default: 5000]
    I:general=5000
}


maxfluidratenormal {
    # Maximum fluid per operation that a normal connector can input or output [range: 1 ~ 1000000000, default: 1000]
    I:general=1000
}


maxpublishedchannels {
    # Maximum number of published channels that a routing channel can support [range: 1 ~ 1000000000, default: 32]
    I:general=32
}


maxrfadvancedconnector {
    # Maximum RF the advanced connector can store [range: 1 ~ 1000000000, default: 500000]
    I:general=500000
}


maxrfconnector {
    # Maximum RF the normal connector can store [range: 1 ~ 1000000000, default: 50000]
    I:general=50000
}


maxrfrateadvanced {
    # Maximum RF/rate that an advanced connector can input or output [range: 1 ~ 1000000000, default: 100000]
    I:general=100000
}


maxrfratenormal {
    # Maximum RF/rate that a normal connector can input or output [range: 1 ~ 1000000000, default: 10000]
    I:general=10000
}


shownonfacadedcableswhilesneaking {
    # If true then cables are also shown when sneaking even if they are not in a facade [default: true]
    B:general=true
}


