# Configuration file

general {
    # If true, the main menu will be replaced by the Betweenlands main menu [default: true]
    B:"Betweenlands Main Menu"=true

    #  [default: false]
    B:"Debug mode"=false

    #  [default: false]
    B:"Model loader debug"=false

    # If true, the camera perspective will be switch to rowboat when you enter a rowboat, otherwise first-person [default: true]
    B:"Rowboat view"=true
}


"mob spawning" {
    # The maximum amount of naturally spawned entities per loaded area (in most cases per player)
    I:"Max. entities per loaded area"=250

    # The maximum amount of naturally spawned entities per world
    I:"Max. entities per world"=600
}


rendering {
    I:"Sky texture resolution (only when shaders are enabled)"=1024

    #  [default: true]
    B:"Use shaders for rendering (this forces FBOs to be enabled)"=true
    I:"Wisp Rendering Quality (0-100)"=50
}


"world and dimension" {
    # Prevents any biome IDs higher than 127. Setting this to false 
    # is NOT recommended unless you know what you're doing! [default: true]
    B:"Biome ID Limit"=true
    I:"Coarse Islands Biome ID"=51
    I:"Deep Water Biome ID"=52
    I:"Dimension brightness (0-100)"=75
    I:"Frequency of Druid Circles. Higher numbers de-crease rate."=80
    I:"Marsh 1 Biome ID"=54
    I:"Marsh 2 Biome ID"=55
    I:"Patchy Islands Biome ID"=53
    I:"Sludge Plains Biome ID"=56
    I:"Swamplands Biome ID"=50
    I:"The Betweenlands Dimension ID"=20
}


