# Configuration file

compatibility {
    # If fluids from other mods should show in BL buckets in the creative tab or in JEI
    B:show_non_bl_fluids=false

    # If true, non BL items will show in the JEI recipe for middle gems
    B:show_non_bl_gem_recipes=false
}


debug {
    # If true, enables debug mode with additional features for testing or development
    B:debug_mode=false

    # If true, enables the model loader debug logger
    B:debug_model_loader=false

    # If true, enables the recipe overrides debug logger
    B:debug_recipe_overrides=false
}


general {
    B:"Debug mode"=false
    B:"Model loader debug"=false

    # If true, the main menu will be replaced by the Betweenlands main menu
    B:bl_main_menu=false

    # After how many seconds caving rope should despawn after the player is no longer connected
    # Min: 0
    # Max: 107374182
    I:caving_rope_despawn_time=1200

    # Adds an indicator next to the crosshair that shows whether the player is connected to the caving rope and how much rope is left
    B:caving_rope_indicator=true

    # A list of items that should not be able to fertilize plants in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:fertilizer_blacklist <
     >

    # A list of items that should be allowed to fertilize plants in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:fertilizer_whitelist <
     >

    # A list of items that should not be able to create fire in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:fire_tool_blacklist <
     >

    # A list of items that should be allowed to create fire in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:fire_tool_whitelist <
     >

    # If true, Betweenlands recipes that conflict with any oredict'd recipes will take priority over the oredict'd recipes (should be true unless you intend to fix the recipes yourself with another mod)
    B:override_any_conflicting_recipes=true

    # If true, Betweenlands recipes that conflict with oredict'd vanilla recipes will take priority over the vanilla recipes (should be true unless you intend to fix the recipes yourself with another mod)
    B:override_conflicting_vanilla_recipes=true

    # Whether rotten food should turn back into normal food when leaving the dimension
    B:reverse_rotten_food=true

    # A list of items that should turn into Rotten Food in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:rotten_food_blacklist <
     >

    # A list of items that should be whitelisted from rotting in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:rotten_food_whitelist <
     >

    # If true, the camera perspective will be switch to rowboat when you enter a rowboat, otherwise first-person
    B:rowboat_view=true

    # A list of items that should turn into Tainted Potions in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:tainting_blacklist <
     >

    # A list of items that should be whitelisted from turning into Tainted Potions in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:tainting_whitelist <
     >

    # A list of items that should be weakened in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:tool_weakness_blacklist <
     >

    # A list of items that should not be weakened in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:tool_weakness_whitelist <
     >

    # A list of items that should not turn into damp torches when placed in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:torch_blacklist <
     >

    # A list of items that should turn into damp torches when placed in the dimension. Syntax is "modid:itemname:meta", meta can be * for wildcard, if no meta is provided 0 is used
    S:torch_whitelist <
     >

    # If true the food sickness system will be enabled
    B:use_food_sickness=false

    # Whether food from the overworld should rot when going into the dimension
    B:use_rotten_food=false
}


mob_spawning {
    # The maximum amount of naturally spawned entities in the Betweenlands per world
    # Min: 0
    # Max: 2147483647
    I:hard_entity_limit=600

    # The maximum amount of naturally spawned entities per loaded area (in most cases this means per player)
    # Min: 0
    # Max: 2147483647
    I:max_entities_per_loaded_area=250
}


online_event_overrides {
    # Check interval in seconds
    # Min: 60
    # Max: 107374182
    I:check_interval=600

    # Default time in seconds before an event that no longer has an override resets its state
    # Min: 0
    # Max: 107374182
    I:default_remote_reset_time=180

    # How many times a connection can fail before the '(Default) Remote Reset Time' starts counting down and how many times 'Failed Recheck Interval' is used before falling back to 'Check Interval'
    # Min: 0
    # Max: 2147483647
    I:failed_recheck_count=3

    # Recheck interval in seconds if previous check has failed
    # Min: 10
    # Max: 107374182
    I:failed_recheck_interval=60

    # If true this allows the developers to remotely enable certain environment events (such as the seasonal events for example) over a file hosted on our repository (https://raw.githubusercontent.com/Angry-Pixel/The-Betweenlands/environment_event_overrides/overrides.json). If you do not wish to use this feature it can be fully disabled by setting this to false
    B:online_event_overrides_enabled=false
}


rendering {
    I:"Sky texture resolution (only when shaders are enabled)"=1024
    B:"Use shaders for rendering (this forces FBOs to be enabled)"=false

    # Whether the shaders should only be active in the Betweenlands dimension (if they are enabled)
    B:dimension_shader_only=false

    # Some blocks glow in the dark (eg Life Crystal Ore) which doesn't work in some cases. If you run into problems like broken textures for such blocks then set this to false
    B:fullbright_blocks=true

    # Whether clouds should be rendered in sky rifts
    B:sky_rift_clouds=true

    # Only works when shaders are enabled. Determines the resolution of the shader sky texture. Bigger resolutions may have a bad impact on performance
    # Min: 16
    # Max: 2147483647
    I:sky_texture_resolution=1024

    # Some features in the Betweenlands use shaders for special effects. If you don't have a dedicated graphics card or want to use other mods with shaders you should set this to false. May have an impact on performance depending on your computer. Forces FBOs to be enabled
    B:use_shader=false

    # Min: 0
    # Max: 100
    I:wisp_quality=50
}


world_and_dimension {
    # If true, the Rift will appear whenever a player joins the dimension for the first time
    B:activate_rift_on_first_join=true

    # Minimum duration in seconds the rift should stay active when a player joins the dimension for the first time. See 'Activate Rift On First Join'
    # Min: 0
    # Max: 107374182
    I:activate_rift_on_first_join_duration=1800

    # Min: 0
    # Max: 100
    I:dimension_brightness=75
    I:dimension_id=20

    # Higher numbers decrease rate
    # Min: 2
    # Max: 2147483647
    I:druid_circle_frequency=80

    # If true seasonal events will occur during special periods during a year
    B:enable_seasonal_events=false

    # The return dimension that is used when creating a portal in the Betweenlands dimension and entering it for the first time
    I:portal_default_return_dimension=0

    # Betweenlands portals will only work in these dimensions
    I:portal_dimension_whitelist <
        0
        -1
        7
     >

    # The maximum link distance in blocks between two portals
    I:portal_max_link_dist=1500

    # If true, the players will directly start out in the Betweenlands instead of the Overworld
    B:start_in_betweenlands=false

    # If "Start in Betweenlands" is enabled: whether a portal should be generated at the spawn and the players should spawn in it
    B:start_in_portal=false
}


