# Configuration file

~CONFIG_VERSION: 1.12.2-1.3

dump {
    # Enable this to keep track of all the entries.
    # the output file will be saved on "config\unidict\dump"  folder.
    # once the file is generated, you must delete it to re-generate. [default: false]
    B:entriesDump=false

    # Enable this to keep track of all the kinds.
    # the output file will be saved on "config\unidict\dump" folder.
    # once the file is generated, you must delete it to re-generate. [default: false]
    B:kindsDump=false

    # Enable this to keep track of all the unificated entries.
    # the output file will be saved on "config\unidict\dump" folder.
    # once the file is generated, you must delete it to re-generate. [default: false]
    B:unifiedEntriesDump=false
}


general {
    # auto hide items in JEI? [default: true]
    B:autoHideInJEI=true

    # put here entries that you don't want to hide in JEI.
    # only works if keepOneEntry is false. [default: ]
    S:autoHideInJEIEntryBlackList <
     >

    # put here kinds that you don't want to hide in JEI.
    # only works if keepOneEntry is false. [default: [ore]]
    S:autoHideInJEIKindBlackList <
        ore
     >

    # keep only one entry per ore dict entry? [default: false]
    B:keepOneEntry=false

    # mods listed here will be blacklisted in keepOneEntry.
    # must be the exact modID. [default: ]
    S:keepOneEntryModBlackList <
     >

    # Enable this if you have mods that depends on UniDict but you don't like the unification. [default: false]
    B:libraryMode=false

    # If Enabled, the ingredients of all the new recipes created by Crafting Integration will be registered as ItemStacks.
    # Enable this if you don't like the cycling through the possibilities of JEI. [default: false]
    B:registerNewCraftingIngredientsAsItemStacks=false

    # This allows to the user register their own ore entries before the Unification happen.
    # this is mainly useful when the user is trying to unify things that aren't registered previously in the Ore Dictionary.
    # 
    # Format:
    # weirdStone+minecraft:stone#1
    # The example above will register Granite as weirdStone. [default: ]
    S:userRegisteredOreDictEntries <
     >

    # This allows to the user remove entries before the Unification happen.
    # this is mainly useful to avoid trying to unify certain things.
    # 
    # Format:
    # ironIngot-minecraft:iron_ingot#0
    # The example above will remove Iron Ingot from ironIngot. [default: ]
    S:userRemovedOreDictEntries <
     >
}


inputreplacement {
    # Enabling this will remove all non-standard items as input of the Furnace. [default: false]
    B:furnace=false

    # Enabling this will remove all non-standard items as input of Mekanism Machine Recipes. [default: false]
    B:mekanism=false
}


modules {
    # Integration Module.
    # if false all the Integrations will be disabled.
    #  [default: true]
    B:integration=true
}


resources {
    # what kind of child do you want to make a standard?
    #  [default: [ore], [dustTiny], [dustSmall], [chunk], [dust], [nugget], [ingot], [block], [plate], [gear], [rod]]
    S:childrenOfMetals <
        ore
        dustTiny
        dustSmall
        chunk
        dust
        nugget
        ingot
        block
        plate
        gear
        rod
     >

    # Here you can put a list to custom unify them.
    # must be in this format "ResourceName:kind1|kind2|...". [default: [Obsidian:dustTiny|dust], [Stone:dust], [Obsidian:dust|dustSmall], [Coal:dust|dustSmall], [Sulfur:dust|dustSmall], [Salt:dust]]
    S:customUnifiedResources <
        Obsidian:dustTiny|dust
        Stone:dust
        Obsidian:dust|dustSmall
        Coal:dust|dustSmall
        Sulfur:dust|dustSmall
        Salt:dust
     >

    # enabling this allow you to specify the "owner" of each entry.
    # it also will make "S:ownerOfEveryThing" be ignored for this entry. [default: false]
    B:enableSpecificEntrySort=false

    # enabling this allow you to specify the "owner" of each kind.
    # it also will make "S:ownerOfEveryThing" be ignored for this kind. [default: false]
    B:enableSpecificKindSort=false

    # list of things to do unifying things.
    #  [default: [Iron], [Gold], [Copper], [Tin], [Silver], [Lead], [Nickel], [Platinum], [Zinc], [Aluminium], [Aluminum], [Alumina], [Chromium], [Chrome], [Uranium], [Iridium], [Osmium], [Bronze], [Steel], [Brass], [Invar], [Electrum], [Cupronickel], [Constantan]]
    S:metalsToUnify <
        Iron
        Gold
        Copper
        Tin
        Silver
        Lead
        Nickel
        Platinum
        Zinc
        Aluminium
        Aluminum
        Alumina
        Chromium
        Chrome
        Uranium
        Iridium
        Osmium
        Bronze
        Steel
        Brass
        Invar
        Electrum
        Cupronickel
        Constantan
     >

    # all the entries will be sorted according to the modID list below
    # must be the exact modID.
    #  [default: [minecraft], [thermalfoundation], [substratum], [ic2], [mekanism], [immersiveengineering], [techreborn]]
    S:ownerOfEveryThing <
        minecraft
        immersiveengineering
        contenttweaker
        embers
     >

    # add here recipes (names) that you don't want the Crafting Integration to mess with. [default: [minecraft:iron_nugget], [minecraft:iron_block], [minecraft:iron_ingot_from_block], [minecraft:iron_ingot_from_nuggets], [minecraft:gold_nugget], [minecraft:gold_ingot_from_block], [minecraft:gold_ingot_from_nuggets], [minecraft:gold_block]]
    S:recipeToIgnoreList <
        minecraft:iron_nugget
        minecraft:iron_block
        minecraft:iron_ingot_from_block
        minecraft:iron_ingot_from_nuggets
        minecraft:gold_nugget
        minecraft:gold_ingot_from_block
        minecraft:gold_ingot_from_nuggets
        minecraft:gold_block
     >

    # resources to be black-listed.
    # this exists to avoid duplicates.
    # this affect the API. [default: [Aluminum], [Alumina], [Chrome], [Constantan]]
    S:resourceBlackList <
        Aluminum
        Alumina
        Chrome
        Constantan
     >
}


