# Configuration file

##########################################################################################################
# addons
#--------------------------------------------------------------------------------------------------------#
# Configure individual addons.
##########################################################################################################

addons {

    BetterWithAddons {
        # Aqueducts can only draw water from sources in specific biomes.
        S:AqueductBiomes <
         >

        # Whether aqueduct biomes should be whitelisted or blacklisted.
        B:AqueductBiomesIsWhitelist=true

        # Aqueduct water counts as a fluid tank for modded pipes. Happy birthday Vyraal1
        B:AqueductIsTank=true

        # Sources Aqueducts can pull from other than real source blocks.
        S:AqueductSources <
            streams:river
         >

        # Enables or disables the custom armor shard renderer, for when it causes crashes.
        B:ArmorShardRender=true

        # Convenient tools can be made from iron, gold and diamond pre-soulsteel.
        B:ConvenientIronTools=true

        # Aqueducts require white stone to craft. This means you need to go to the end to transport water over long distances without power usage.
        B:GatedAqueducts=true

        # Horses can breed from eating haybales placed in world.
        B:HorsesBreedHaybales=false

        # Horses can't be fed golden food. It gives them a tummy ache.
        B:HorsesIgnoreGold=true

        # Horses set their home location if they're in a safe spot when dismounting.
        B:HorsesSetHome=true

        # How much durability the artifact you're turning in can have at max. (As a factor of max durability; 0.1 means 1/10 of max durability)
        D:LegendariumDamageMin=0.10000000149011612

        # How much durability more than the minimum the artifact can have to still be considered broken. (As a static value)
        I:LegendariumDamagePad=24

        # How many artifacts must be in the Hall of Legends to take one out.
        I:LegendariumMinQueueSize=7

        # How far away Display Frames are recognized. (in blocks; as a cubic radius)
        I:LegendariumPosterRange=16

        # How many levels it costs to repair a shard on an anvil.
        I:LegendariumRepairCost=35

        # When repairing a shard on an anvil, the repair cost is modified by this multiplier.
        D:LegendariumRepairCostMultiplier=0.5

        # How long until the next artifact can be turned in. (in ticks; 1000 ticks is one Minecraft hour)
        I:LegendariumTurnInDelay=120000

        # How much food the tree can hold.
        I:LureTreeMaxFood=5000

        # Radius in which the tree can spawn mobs.
        I:LureTreeRadius=6

        # Time it takes for the tree to do one spawning cycle.
        I:LureTreeTime=600

        # How long aqueducts can be.
        I:MaxAqueductLength=128

        # How far rope can be spanned horizontally between two posts or other attachments.
        I:RopeBridgeLimit=30

        # How long fish takes to rot. (In ticks)
        I:RottenFishTime=48000

        # Whether food will rot after a certain number of days has passed.
        B:RottenFood=false

        # These foods are excluded from rotting.
        S:RottenFoodBlacklist <
            minecraft:golden_apple
            minecraft:golden_carrot
            minecraft:rotten_flesh
            minecraft:spider_eye
            minecraft:poisonous_potato
            minecraft:chorus_fruit
            betterwithmods:kibble
            betterwithmods:creeper_oyster
            betterwithaddons:food_mushroom_baked
            betterwithaddons:food_amanita_baked
            betterwithaddons:food_fugu_sac
            betterwithaddons:rotten_food
         >

        # Whether food can be combined in the crafting grid to stack.
        B:RottenFoodCombining=true

        # How long fruit takes to rot. (In ticks)
        I:RottenFruitTime=120000

        # How long meat takes to rot. (In ticks)
        I:RottenMeatTime=96000

        # How long misc food takes to rot. (In ticks)
        I:RottenMiscTime=72000

        # Stonebricks need two extra steps in crafting.
        B:StoneBricksNeedSmelting=false
    }

    EriottoMod {
        # Hardcore Structures pushes the Enchanting Table behind some exploration. This enables an alternate recipe if you want to start japanese culture before finding a Desert Temple.
        B:AlternateInfuserRecipe=false

        # How long the drying and soaking units take to process one item, in ticks.
        I:CherryBoxCraftingTime=500

        # Whether the Japanese Culture module is on. DISABLING THIS WILL DISABLE THE WHOLE MODULE.
        B:Enabled=true

        # Infusers can repair japanese weapons and armors.
        B:InfuserRepairs=true

        # How much iron should be required per block of iron sand
        I:IronPerIronSand=3

        # How much spirit is dropped by Karate Zombies, as a ratio of how much they have.
        D:KarateZombieDropMultiplier=1.0

        # How many spirits can be infused into karate zombies.
        I:KarateZombieMaxSpirits=128

        # How much spirit is required for Karate Zombies to level up.
        I:KarateZombiePerLevel=8

        # How many spirits karate zombies at most spawn with.
        I:KarateZombieSpawnMaxSpirits=29

        # How many spirits karate zombies at least spawn with.
        I:KarateZombieSpawnMinSpirits=5

        # Chance to obtain Hocho-Tetsu from breaking Kera.
        D:KeraHochoTetsuChance=0.2

        # Chance to obtain Iron from breaking Kera.
        D:KeraIronChance=0.2

        # Chance to obtain Tamahagane from breaking Kera.
        D:KeraTamahaganeChance=0.3

        # How long spirits can exist in world, in ticks.
        I:MaxSpiritAge=1200

        # Maximum amount of spirit to be stored in Infused Soul Sand.
        I:MaxSpirits=128

        # Karate Zombies infused with ancestral spirit spawn randomly.
        B:RandomJapaneseMobs=true

        # Weight for a karate zombie to spawn.
        I:RandomJapaneseMobsWeight=40

        # How much sand should be required per block of iron sand
        I:SandPerIronSand=8

        # How much spirit is contained in one bottle.
        I:SpiritsPerBottle=8
    }

    CondensedOutputs {
        # Whether cauldrons can congeal items.
        B:Congealing=true

        # Whether filtered hoppers can fill crates.
        B:Crating=true

        # Whether the Condensed Outputs module is on. DISABLING THIS WILL DISABLE THE WHOLE MODULE.
        B:Enabled=true

        # When uncrafting condensed materials, the binding material is not returned.
        B:LoseBinder=false

        # The amount of time in ticks it takes for the spindle to spin up once.
        I:SpindleTime=40

        # Whether the spindle can compress items into bolts.
        B:Spinning=true
    }

    DecoAddon {
        # Wrought bars are made at a ratio of 1 iron ingot per bar instead of 1/2 an iron ingot per bar.
        B:AlternateWroughtBars=true

        # Glass bottles are made from half as much glass as normal.
        B:CheaperBottles=true

        # Chiseled Stone Bricks can only be crafted on a Steel Anvil.
        B:ChiselBricksInAnvil=true

        # Add all kinds of clay to miniblocks whitelist (WIP)
        B:ClayMiniblocks=true

        # Whether the Deco Addon module is on. DISABLING THIS WILL DISABLE THE WHOLE MODULE.
        B:Enabled=true

        # Glass chunks can be smelted in a furnace.
        B:GlassFurnace=false

        # Glass becomes neatly divisable into two glass panes per block.
        B:GlassPaneRebalance=true

        # Add some odd materials to miniblocks whitelist (WIP)
        B:MasonMiniblocks=true

        # Glass bottles can melted into chunks in a crucible. This allows you to make glass from a witch farm.
        B:RecycleBottles=true

        # Vanilla planks can be bleached or stained.
        B:WoodColoring=true
    }

    BTWTweak {
        # Potash is a valid fertilizer.
        B:AshFertilizer=true

        # Bonemeal can be turned to glue in a stoked Crucible.
        B:BonemealToGlue=false

        # Allows eggs to be incubated into chicken by placing them on a Block of Padding with a lit Light Block above.
        B:EggIncubation=true

        # How long it takes for an egg to hatch using incubation, in ticks.
        I:EggIncubationTime=5400

        # Whether the BTWTweak module is on. DISABLING THIS WILL DISABLE THE WHOLE MODULE.
        B:Enabled=true

        # Logs in Mineshafts are infested by Termites and crumble into sawdust when harvested.
        B:InfestedMineshafts=true

        # Logs burn into ash in world.
        B:LogsBurnToAsh=false

        # Logs burn into ash in a furnace. This only works if they wouldn't burn into anything else.
        B:LogsSmeltToAsh=true

        # Changes writable books to require the Ink and Quill item.
        B:ReplaceWritableBookRecipe=true

        # Rails in Mineshafts are rusted and melt down into much less iron.
        B:RustedMineshafts=true

        # Many wooden blocks can be recycled by putting them infront of a saw, at a bit of a loss.
        B:SawRecycling=true

        # Water running over blocks of soap will make them slippery.
        B:SlipperyWhenWet=true

        # Wool can be rendered back into it's components. You might want to disable this if you use mods that violate Hardcore Shearing.
        B:WoolRecycling=false

        # How many levels it costs to rename an item or create a nametag.
        I:WritingTableCost=1
    }

    BetterWithRenewables {
        # Allows animals to be crossbreed from other animals. Disgusting.
        B:AnimalBreeding=true

        # Allows blazes to replicate in fire when fed an appropriate item.
        B:BlazeBreeding=true

        # Delay between successfully breeding blazes.
        I:BlazeBreedingDelay=6000

        # Range in blocks to look for fire to birth new blazes in.
        I:BlazeBreedingRange=3

        # Allows blazes to be created from a golem-like shape with appropriate blocks.
        B:BlazeGolems=true

        # Allows redstone to be 'boiled' into glowstone by exposure to focused sunlight.
        B:BoilRedstone=true

        # Chance for redstone to boil into glowstone.
        D:BoilRedstoneChance=0.1

        # Allows dead bushes to be created from oak saplings.
        B:BoilingBushes=true

        # Allows diamond ingots to be taken apart into diamonds and iron ingots using strong alkaline.
        B:DiamondRecovery=true

        # Allows diamonds to be fabricated from ghast tears.
        B:DiamondSynthesis=true

        # Allows dung to be turned into dirt by rinsing acids out.
        B:DungToDirt=true

        # Amount of ambient temperature is added to the heat value.
        I:DungToDirtAmbientTemp=26

        # The chance for a block of dung to turn into dirt from rinsing. The chance is rand(n) < heat
        I:DungToDirtThreshold=300

        # Allows portals to be made from emerald blocks and sacrifice.
        B:EmeraldPortal=true

        # Whether the Better With Renewables module is on. DISABLING THIS WILL DISABLE THE WHOLE MODULE.
        B:Enabled=false

        # Allows only tools and armor made from gold to be milled into nuggets at a lower efficiency than when melted in a Crucible.
        B:GoldGrinding=true

        # Gold nuggets returned when grinding gold tools or armor in a millstone.
        I:GoldPerIngot=1

        # Allows hellfire dust to be created earlier in the tech tree.
        B:HellfireEarly=true

        # Allows lapis to be created from blue wool and clay.
        B:LapisFromWool=true

        # Allows Blocks of Hellfire to be melted into lava by proximity to it.
        B:MeltHellfire=true

        # The chance for a block of hellfire to melt into a block of lava. The chance is rand(n) < adjacent_lava_blocks
        I:MeltHellfireThreshold=10

        # Allows netherrack to be farbricated from a usable medium, a hellborn plant and some residents from the nether.
        B:NetherrackSynthesis=true

        # Allows plants to be crossbreed from other plants.
        B:PlantBreeding=true

        # Allows quartz to be grown from silica in appropriate conditions.
        B:QuartzSynthesis=true

        # Affects the time sand piles must be cooked to make Quartz.
        I:QuartzSynthesisThreshold=20

        # How much redstone is obtained per bar of concentrated hellfire.
        I:RedstonePerSynthesis=7

        # Allows redstone to be farbricated from concentrated hellfire and gold.
        B:RedstoneSynthesis=true

        # Allows redstone to be synthesized earlier to create Hibachis.
        B:RedstoneSynthesisEarly=true

        # Allows sand to be turned into clay by adding acidic substances.
        B:SandToClay=true

        # Allows netherrack to be fabricated from dung and experience.
        B:SoulsandInfusion=true

        # Amount of exp that must be pushed into a block of dung to create soulsand.
        I:SoulsandInfusionThreshold=50

        # Allows webs to be created from string and slimeballs.
        B:WeavingWebs=true
    }

    BetterWithWheat {
        # Haybales require hay instead of wheat.
        B:ChangeHayBales=true

        # Changes textures of Wheat and Wheat Seeds.
        B:ChangeTextures=true

        # Carrots and Potatoes cannot be instantly harvested, and instead have a breaktime and a preferred tool (hoe)
        B:DigUpCrops=true

        # Whether the Better With Wheat module is on. DISABLING THIS WILL DISABLE THE WHOLE MODULE.
        B:Enabled=false

        # Instead of milling wheat into flour, wheat seeds must be milled instead.
        B:MillGrain=true

        # Wheat, when harvested, will drop wheat and hay instead.
        B:ReplaceWheatDrops=true

        # Wheat can be threshed into seeds using shovels.
        B:ThreshWheat=true

        # Wheat can be threshed into seeds using a millstone.
        B:ThreshWheatMill=true
    }

}


##########################################################################################################
# interaction
#--------------------------------------------------------------------------------------------------------#
# Enable or disable mod interactions.
##########################################################################################################

interaction {

    betterwithmods {
        B:ButcherBlocks=true
        B:CauldronsExplode=false
        B:ChorusInCauldron=true
        B:DyeInCauldron=true
        B:Enabled=true
        B:HardcorePacking=false
        B:HardcoreShearing=true
        B:MillClay=true
        S:ShearWhitelist <
            tconstruct:kama
            tconstruct:scythe
         >
        I:WoolMultiplier=1
    }

    quark {
        B:Enabled=true
        B:MidoriBlocksNeedChunks=true
    }

    BetterWithMods {
        # Striking an enemy on chopping blocks will bloody them and bestow a short strength buff.
        B:ButcherBlocks=true
        B:CauldronsExplode=true

        # Chorus fruit (and Midori) can only be popped in a cauldron.
        B:ChorusInCauldron=true

        # How much fleece can be dyed at once in a cauldron.
        I:DyeFleeceBatchSize=32

        # Fleece can be dyed in batches of 32 in a cauldron and bleached with potash.
        B:DyeFleeceInCauldron=false

        # How much glass can be dyed at once in a stoked cauldron.
        I:DyeGlassBatchSize=1

        # Glass can be dyed in a stoked cauldron.
        B:DyeGlassInCauldron=false

        # Wool can be dyed in batches of 8 in a cauldron and bleached with potash.
        B:DyeInCauldron=false

        # How much terracotta can be dyed at once in a stoked cauldron.
        I:DyeTerracottaBatchSize=4

        # Terracotta can be dyed in batches of 4 in a stoked cauldron.
        B:DyeTerracottaInCauldron=false

        # How much wool can be dyed at once in a cauldron.
        I:DyeWoolBatchSize=8

        # Whether the Better With Mods compat module is on. DISABLING THIS WILL DISABLE THE WHOLE MODULE.
        B:Enabled=true

        # Items can be compressed in world with a piston pushing them into an enclosed space.
        B:HardcorePacking=true

        # Sheep will only be sheared into wool items, which must be crafted into wool blocks. This does not work with machines that use onSheared, but should work with Fake Players.
        B:HardcoreShearing=true

        # Hardened clay can be milled into bricks, saving fuel and allowing dyed bricks.
        B:MillClay=true

        # Removes dye recipes from the crafting table if the relevant cauldron dying recipes exist.
        B:RemoveDyeRecipes=false

        # Extra items that are functionally shears but don't extend ItemShears.
        S:ShearWhitelist <
            tconstruct:kama
            tconstruct:scythe
         >

        # Adjusts how much wool a sheep drops if Hardcore Shearing is enabled.
        I:WoolMultiplier=1
    }

    Quark {
        # Whether the Quark compat module is on. DISABLING THIS WILL DISABLE THE WHOLE MODULE.
        B:Enabled=true

        # Midori blocks require popped Midori chunks.
        B:MidoriBlocksNeedChunks=true
    }

}


