# Configuration file

general {

    ##########################################################################################################
    # feature control
    #--------------------------------------------------------------------------------------------------------#
    # Enable or disable Geolosys features entirely
    ##########################################################################################################

    "feature control" {
        B:"Disable Vanilla Ore Generation"=true
        B:"Enable Cluster Smelting"=false
        B:"Enable Coals"=false
        B:"Enable IE Integration"=false
        B:"Enable Ingots"=false
        B:"Enable Osmium"=false

        # Allows Osmium to be enabled, without enabling Platinum
        B:"Enable Osmium Exclusively"=false
        B:"Enable Sulfur"=true
        B:"Enable Yellorium"=false
        B:"Enable debug print statements for generation"=false
        B:"Register Aluminum as oreBauxite"=false
        B:"Replace Stone Variant Deposits"=true

        # Happens when a player enters a chunk; changes other mod ores into Geolosys's
        B:"Retroactively replace existing ores in world"=false

        # When enabled, instead of using Geolosys's replacements for vanilla ores it just uses Vanilla blocks
        B:"Vanilla Mode"=false
    }

    ##########################################################################################################
    # prospecting
    #--------------------------------------------------------------------------------------------------------#
    # Adjust settings specific to prospecting
    ##########################################################################################################

    prospecting {
        B:"Allow samples to generate in any water"=true

        # Formatted <modid:block:meta>; this list contains blocks that samples should not generate on.
        S:"Blocks Samples can Generate On" <
         >
        B:"Enable Prospector's Pickaxe"=false

        # Min: 1
        # Max: 16
        I:"Maximum Number of samples per Chunk"=12

        # Min: 0
        # Max: 2147483647
        I:"Prospector's Pick Durability"=256

        # The prospector's pick will show what's in a direction only when below this level, per dimension. Add custom dimension ID's and their corresponding Y depth below, format: <dim_id>:<y_level>
        S:"Prospector's Pick Sea Levels per Dimension" <
            -1:128
            0:64
            1:128
         >
        B:"Prospector's Pick Takes Damage"=false

        # Min: 0
        # Max: 255
        I:"Prospector's Pickaxe Diameter"=5

        # Min: 0
        # Max: 255
        I:"Prospector's Pickaxe Range"=5
        B:"Samples drop nothing (contents revealed in chat)"=false

        # SAMPLES means prospecting on the surface returns the samples found
        # OREBLOCKS means prospecting on the surface returns the first Geolosys-registered Ore Block it finds
        # Valid values:
        # SAMPLES
        # OREBLOCKS
        S:"Surface Prospecting Results"=SAMPLES
    }

    ##########################################################################################################
    # user entries
    #--------------------------------------------------------------------------------------------------------#
    # Custom user entries
    ##########################################################################################################

    "user entries" {
        # Format is:
        # modid:block OR modid:block:meta
        S:"Blocks mineral deposits can replace" <
            minecraft:stone:0
            minecraft:stone:1
            minecraft:stone:2
            minecraft:stone:3
            minecraft:dirt:0
            rustic:slate:0
            chisel:marble2:7
            chisel:limestone2:7
            chisel:basalt2:7
            primal:schist_blue_stone:0
            primal:ferro_stone:0
            primal:mud_wet:0
            primal:terraclay_block:0
            primal:sarsen_stone:0
            minecraft:sandstone:0
            minecraft:red_sandstone:0
            minecraft:hardened_clay:0
            minecraft:stained_hardened_clay:0
            minecraft:stained_hardened_clay:1
            minecraft:stained_hardened_clay:2
            minecraft:stained_hardened_clay:3
            minecraft:stained_hardened_clay:4
            minecraft:stained_hardened_clay:5
            minecraft:stained_hardened_clay:6
            minecraft:stained_hardened_clay:7
            minecraft:stained_hardened_clay:8
            minecraft:stained_hardened_clay:9
            minecraft:stained_hardened_clay:10
            minecraft:stained_hardened_clay:11
            minecraft:stained_hardened_clay:12
            minecraft:stained_hardened_clay:13
            minecraft:stained_hardened_clay:14
            minecraft:stained_hardened_clay:15
            thebetweenlands:swamp_dirt:0
            thebetweenlands:betweenstone:0
            thebetweenlands:pitstone:0
         >

        # Format is:
        # modid:block OR modid:block:meta
        S:"Blocks that the OreConverter feature should ignore" <
            gravelores:coal_gravel_ore
            gravelores:iron_gravel_ore
            gravelores:lapis_gravel_ore
            gravelores:gold_gravel_ore
            gravelores:redstone_gravel_ore
            gravelores:diamond_gravel_ore
            gravelores:emerald_gravel_ore
            gravelores:tin_gravel_ore
            gravelores:nickel_gravel_ore
            gravelores:silver_gravel_ore
            gravelores:lead_gravel_ore
            gravelores:copper_gravel_ore
            gravelores:aluminum_gravel_ore
            nex:ore_quartz:0
            nex:ore_quartz:1
            nex:ore_quartz:2
            nex:ore_quartz:3
         >

        # Format is:
        # modid:block:meta, deposit size, min Y, max Y, chance to gen in chunk, block to use as sample, [dimension blacklist] Example:
        # actuallyadditions:block_misc:3, 32, 13, 42, 20, actuallyadditions:block_misc:1, [1, -1]
        S:"Custom Ore Entries" <
            astralsorcery:blockcustomore:0, 28, 3, 18, 17, astralsorcery:blockgeolosyssamplecluster:0, [1, -1, 20, 28885, 50, 51, 52, 144, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43]
            mundaneredstone:redstone_ore:0, 36, 4, 24, 20, geolosys:ore_sample_vanilla:1, [1, -1, 20, 28885, 50, 51, 52, 144, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43]
            galacticraftcore:basic_block_core:8, 24, 24, 48, 21, contenttweaker:sub_block_holder_0:5, [1, -1, 20, 28885, 50, 51, 52, 144, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43]
            contenttweaker:sub_block_holder_0:4, 36, 3, 11, 20, contenttweaker:sub_block_holder_0:6, [1, -1, 20, 28885, 50, 51, 52, 144, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43]
         >

        # Format is:
        # modid:block:meta, min Y, max Y, chance to gen in chunk
        # ALL DEPOSITS ARE APPROX. THE SAME SIZE & AREN'T CONFIGURABLE.
        # rustic:slate:0, 27, 54, 10
        S:"Custom Stone Entries" <
         >
    }

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Client-side settings
    ##########################################################################################################

    client {
        B:"Enable Prospector's Pickaxe Chunk Grid Functionality"=true
        B:"Enable Prospector's Pickaxe to show Y-Level"=true

        # Min: 0.1
        # Max: 3.0
        D:"Field Manual Font Scale"=0.8500000238418579

        # The X coordinate that the Depth overlay displays at while holding a prospector's pick
        # Min: 0
        # Max: 2147483647
        I:"Prospector's Pick Depth HUD X"=2

        # The Y coordinate that the Depth overlay displays at while holding a prospector's pick
        # Min: 0
        # Max: 2147483647
        I:"Prospector's Pick Depth HUD Y"=2
    }

}


