# Configuration file

general {
    # Allow players to use shape mining [default: true]
    B:"Allow Shapes"=true

    # Allows the undo command to overwrite replacables like fluids [default: true]
    B:"Allow Undo Replacables"=true

    # Use alternate check for tool validity (e.g. swords on webs) [default: false]
    B:"Alt Tools"=false

    # Skips spawning drops in world adding them directly to your inventory [default: false]
    B:"Auto Pickup"=false

    # Blocks blacklisted from being excavated [default: ]
    S:"Block Blacklist" <
     >

    # Amount of exaustion per block excavated [range: 0.0 ~ 3.4028235E38, default: 0.1]
    S:Exaustion=0.2

    # Experience cost per block excavated [range: 0 ~ 2147483647, default: 0]
    I:Experience=0

    # The default game stage required to unlock excavations (requires gamestages to be installed) [default: ]
    S:"Game Stage"=
    B:"Hide Updates"=true

    # Ignores whether or not the held tool is valid [default: false]
    B:"Ignore Tool"=false

    # Inverts the block blacklist to function as a whitelist [default: false]
    B:"Invert Block Blacklist"=false

    # Inverts the tool blacklist to function as a whitelist [default: false]
    B:"Invert Tool Blacklist"=false

    # The maximum number of blocks that can be excavated at once [range: 1 ~ 2147483647, default: 128]
    I:Limit=4096

    # How many excavations should be kept in undo history (may lead to exploits or instability) [range: 0 ~ 2147483647, default: 3]
    I:"Max Undos"=1

    # Excavation mode (-1 Disabled, 0 = Keybind, 1 = Sneak, 2 = Always) [range: -1 ~ 2, default: 0]
    I:Mode=0

    # Allows players to cancel excavation by releasing the keys [default: true]
    B:"Must Hold"=true

    # Limit excavation to standard tool types (Picks, Shoves, Axes & Shears) [default: false]
    B:"Only Standard Types"=false

    # Allow excavation with an open hand [default: true]
    B:"Open Hand"=true

    # How far from the origin an excavation can travel [range: 1 ~ 2147483647, default: 16]
    I:Range=256

    # The default game stage required to unlock shape mining (requires gamestages to be installed) [default: ]
    S:"Shape Stage"=

    # How many blocks per tick can be excavated [range: 1 ~ 2147483647, default: 64]
    I:Speed=16

    # Temporarily reduces excavation speed if TPS begins to slow down [default: true]
    B:"TPS Guard"=true

    # Tools blacklisted from excavating [default: ]
    S:"Tool Blacklist" <
     >

    # Use the side of the block hit to determine shape mining direction [default: true]
    B:"Use Side Hit"=true
}


