# Configuration file

general {

    multi-tool {
        # 0 - None, 1 Block Place Preview, 2 Block Break Preview, 3 Place/Break Preview. (2/3 WIP)[Default: 1]
        I:assistMode=2

        # Cost that is added on to every block break [Default: 100]
        I:breakBaseCost=100

        # Multiples the Hardness Cost by this. [Default: 1]
        I:breakCostMultiplier=1

        # Cost per meter away [Default: 10]
        I:costPerMeterAway=10

        # Cost that is added on to every place [Default: 100]
        I:placeBaseCost=100

        # Max range Multi-Tool can edit blocks [Default: 128]
        I:reach=128
    }

    multi-armor {
        # Energy Multiplier for Absolute Damage. [Default: 10]
        D:absoluteDamageMultiplier=10.0

        # Base cost of any defensive action. [Default: 10]
        I:baseCost=10

        # Energy per Air Tick. [Default: 10]
        I:costPerAir=10

        # Energy Cost per food amount to fill. [Default: 1000]
        I:costPerFood=1000

        # Energy Cost per health amount to heal. [Default: 5000]
        I:costPerHealth=5000

        # Energy Cost per Saturation amount to fill. [Default: 4000]
        D:costPerSaturation=4000.0

        # How much energy is used base per damage. [Default: 100]
        D:damageMultiplier=100.0

        # Energy use multiple per flight speed. [Default: 10]
        D:energyMultiplerPerFlightSpeed=10.0

        # Energy use multiplier per ground speed. [Default: 5]
        D:energyMultiplierPerGroundSpeed=5.0

        # Energy per block walked. [Default: 10]
        D:energyPerBlockWalked=10.0

        # Energy used per tick while flying. [Default:10]
        I:energyPerTickFlying=10

        # Energy to Extinguish the player. [Default: 1000]
        I:extinguishCost=1000

        # Max flight speed. [Default: 5]
        D:maxFlightSpeed=5.0

        # Max level to feed up too. [Default By Vanilla MC: 20]
        I:maxFoodLevel=20

        # Max ground speed. [Default: 10]
        D:maxGroundSpeed=10.0

        # Max saturation level to add too. [Default By Vanilla MC: 5
        D:maxSaturationLevel=5.0

        # Energy Per Tick to use No Clip
        I:noClipEnergyPerTick=100000

        # Energy Cost to remove a potion effect. [Default: 10000]
        I:removeEffect=10000

        # Energy Multiplier for Unblockable Damage. [Default: 10]
        D:unblockableMultiplier=10.0
    }

    development {
        # Stuff not deemed to be safe yet. IE World Corrupting / Crashing. [Default: false]
        B:wipStuff=false
    }

    "texture resolutions" {
        # Resolution for Blocks. [Default: 256]
        I:blockResolution=64

        # Resolution for Items. [Default: 256]
        I:itemResolution=256

        # Resolution for Multi-Armor. [Default: 256]
        I:multiArmorResolution=64
    }

    "matter purifier" {
        # Energy Per Hardness of Block. [Default: 1000]
        I:energyPerHardness=1000

        # Energy Per Operation Base. [Default: 10000]
        I:energyPerOperation=10000
    }

    "compressed blocks" {
        S:compressedBlocks <
            minecraft:cobblestone:12:1:true
            minecraft:obsidian:8:1:true
         >

        # Maximum Texture Resolution of a single block, WARNING setting this to high can break your game's textures / cause you to crash. Higher number means more memory usage [Default: 256]
        I:maxTextureWidth=128

        # Show the hardness of compressed blocks when in item form. [Default: true
        B:showHardness=true
    }

    "special entires" {
        # Do not change without reading https://github.com/CJ-MC-Mods/Overloaded/wiki/Minecraft-Inventory-Mechanic-Bugs#slots-for-infinity-barrel. Reduces performance for compatibility. [Default:: false]
        B:infinityBarrelAdditionalSlot=false

        # Fix for rending while noClip is active. May cause issues with some other mods. [Default: true]
        B:noClipRenderFix=true
    }

    "ray gun" {
        # Energy used per shot. [Default: 100000]
        I:energyPerShot=100000

        # Max range to shoot. [Default: 128]
        I:maxRange=128
    }

    "rail gun" {
        # Damage per RF(FE) spent. [Default: 0.00001
        D:damagePerRF=9.999999747378752E-6

        # Distance knockback per RF(FE) spent. [Default: 0.000001
        D:knockbackPerRF=9.999999974752427E-7

        # Maximum energy used per shot. [Default: 2,000,000,000]
        I:maxEnergy=2000000000

        # Max range to shoot. [Default: 128]
        I:maxRange=128

        # Minimum energy used per shot. [Default: 1,000,000]
        I:minEngery=10000000

        # Energy change step (via scroll wheel). [Default: 10,000,000]
        I:stepEnergy=10000000
    }

}


