# Configuration file

general {

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General stuff that doesn't fit anywhere else
    ##########################################################################################################

    general {
        # Loss percentage (on average) of Compressed Iron ingots/blocks when exposed to an explosion
        # Min: 0
        # Max: 100
        I:configCompressedIngotLossRate=20

        # Damage of the Miniguns. This applies to the Sentry Gun, Handheld Minigun, and Drone-based minigun
        D:configMinigunDamage=4.0

        # Enable Drone Suffocation Damage
        B:enableDroneSuffocationDamage=true

        # Enables the dungeon loot generation of the Nuke Virus and Stop! Worm (not useful in single-player worlds)
        B:enableDungeonLoot=true

        # Enable/disable explosion crafting (iron->compressed iron).  If you disable this, you'll need another way to get compressed iron initially
        B:explosionCrafting=true

        # Efficiency of fuel buckets as furnace fuel (default 0.05 means 1 bucket of LPG smelts 450 items in a vanilla furnace
        D:fuelBucketEfficiencyMultiplier=0.05000000074505806

        # Maximum number of blocks in the area defined in an Area Programming Puzzle Piece
        I:maxProgrammingArea=250000

        # Chance per chunk in percentage to generate an Oil Lake. Set to 0 for no spawns
        # Min: 0.0
        # Max: 100.0
        D:oilGenerationChance=0.0

        # Oil worldgen blacklist: add dimension IDs to this list if you don't want oil worldgen to happen there.
        I:oilWorldGenBlacklist <
            0
            1
            -1
         >
    }

    ##########################################################################################################
    # machine_properties
    #--------------------------------------------------------------------------------------------------------#
    # Settings affecting the operation of machines
    ##########################################################################################################

    machine_properties {
        # Changing this value will alter the pressurized air production of the Electric Compressor. The input, EU, will stay the same
        I:electricCompressorEfficiency=40

        # The max height of an elevator per stacked Elevator Base.
        # Min: 1
        # Max: 256
        I:elevatorBaseBlocksPerBase=4

        # Changing this value will alter the pressurized air production of the Flux Compressor. The input, RF, will stay the same
        I:fluxCompressorEfficiency=40

        # Can the Kerosene Lamp burn any kind of fuel?  If false, only Kerosene can be burnt
        B:keroseneLampCanUseAnyFuel=true

        # Kerosene Lamp fuel efficiency: higher values mean fuel will last longer in the lamp
        D:keroseneLampFuelEfficiency=1.0

        # Changing this value will alter the pressurized air usage of the Pneumatic Dynamo. The output, RF, will stay the same
        I:pneumaticDynamoEfficiency=40

        # Changing this value will alter the pressurized air usage of the Pneumatic Generator. The output, EU, will stay the same.
        I:pneumaticGeneratorEfficiency=40
    }

    ##########################################################################################################
    # advanced
    #--------------------------------------------------------------------------------------------------------#
    # Advanced settings (shouldn't need to touch under normal circumstances)
    ##########################################################################################################

    advanced {
        # When set to true, the Kerosene Lamp's fake air blocks won't be registered and therefore removed from the world. Useful if this causes trouble (it shouldn't though)
        B:disableKeroseneLampFakeAirBlock=false

        # When set to true, Drones will not execute any program. This is useful to set to true when due to a bug Drones are lagging your server or crashing it. Please report the bug if you encounter it.
        B:stopDroneAI=false
    }

    ##########################################################################################################
    # recipes
    #--------------------------------------------------------------------------------------------------------#
    # Enable/disable certain recipes (note: better done with CraftTweaker if you have it)
    ##########################################################################################################

    recipes {
        # 8 Block of Coal --> 1 Diamond (Pressure Chamber)
        B:enableCoalToDiamondsRecipe=true

        # Electric Compressor (currently ignored, defined in JSON)
        B:enableElectricCompressorRecipe=true

        # Pneumatic Generator (currently ignored, defined in JSON)
        B:enablePneumaticGeneratorRecipe=true
    }

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Settings affecting only the client
    ##########################################################################################################

    client {
        # Enable Aphorism Tile Drama!
        B:aphorismDrama=true

        # Drones render their held item (the item in slot 0 of their inventory) ?
        B:dronesRenderHeldItem=true

        # Tint Logistics configuration GUI backgrounds according to the colour of the logistics frame you are configuring
        B:logisticsGUITint=true

        # Defines the default difficulty of the Programmer shown to the user. 0 = easy, 1 = medium, 2 = advanced
        # Min: 0
        # Max: 2
        I:programmerDifficulty=0

        # Show tank fluids with the The One Probe.  Note that TOP also has support for showing tanks, which may or may not be enabled.
        B:topShowsFluids=true

        # When true, the Pneumatic Helmet will be a model. Warning: this model looks far too good to be in MC (currently ignored)
        B:useHelmetModel=false
    }

    ##########################################################################################################
    # helmet
    #--------------------------------------------------------------------------------------------------------#
    # Pneumatic Helmet HUD settings (note: you can also set this up via helmet GUI)
    ##########################################################################################################

    helmet {
        # Pneumatic helmet block tracker on left?
        B:blockTrackerLeft=true

        # Pneumatic helmet block tracker X
        I:blockTrackerX=-1

        # Pneumatic helmet block tracker Y
        I:blockTrackerY=46

        # Pneumatic helmet entity tracker on left?
        B:entityTrackerLeft=true

        # Pneumatic helmet entity tracker X
        I:entityTrackerX=-1

        # Pneumatic helmet entity tracker Y
        I:entityTrackerY=90

        # Pneumatic helmet item search on left?
        B:itemSearchLeft=true

        # Pneumatic helmet item search X
        I:itemSearchX=-1

        # Pneumatic helmet item search Y
        I:itemSearchY=17

        # Pneumatic helmet message readout on left?
        B:messageLeft=false

        # Pneumatic helmet message readout X
        I:messageX=2

        # Pneumatic helmet message readout Y
        I:messageY=2

        # Pneumatic helmet Path Enabled
        B:pathEnabled=true

        # Pneumatic helmet Path Update Rate
        I:pathUpdateSetting=1

        # Pneumatic helmet power readout on left?
        B:powerLeft=true

        # Pneumatic helmet power readout X
        I:powerX=-1

        # Pneumatic helmet power readout Y
        I:powerY=2

        # Pneumatic helmet Wire Path
        B:wirePath=true

        # Pneumatic helmet X-Ray
        B:xRayEnabled=false
    }

}


