# Configuration file

general {
    # Disable the mod outright? Why though? [default: false]
    B:disable=false
}


plugins {

    thermalexpansion {
        # Enable the plugin [default: true]
        B:enable=true
    }

    libvulpes {
        # Enable the plugin [default: true]
        B:enable=true
    }

    compactmachines3 {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Miniaturization? [default: true]
        B:enable_miniaturization_mapper=true
    }

    mekanism {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Chemical Infuser? [default: true]
        B:enable_chemical_infuser_mapper=true

        # Enable mapper for Chemical Oxidizer? [default: true]
        B:enable_chemical_oxidizer_mapper=true

        # Enable mapper for Chemical Washer? [default: true]
        B:enable_chemical_washer_mapper=true

        # Enable mapper for ChemicalInjectionChamber? [default: true]
        B:enable_chemicalinjectionchamber_mapper=true

        # Enable mapper for Combiner? [default: true]
        B:enable_combiner_mapper=true

        # Enable mapper for Crusher? [default: true]
        B:enable_crusher_mapper=true

        # Enable mapper for Crystallizer? [default: true]
        B:enable_crystallizer_mapper=true

        # Enable mapper for Dissolution? [default: true]
        B:enable_dissolution_mapper=true

        # Enable mapper for Electrolytic Separator? [default: true]
        B:enable_electrolytic_separator_mapper=true

        # Enable mapper for EnergizedSmelter? [default: true]
        B:enable_energizedsmelter_mapper=true

        # Enable mapper for EnrichmentChamber? [default: true]
        B:enable_enrichmentchamber_mapper=true

        # Enable mapper for Metallurgic Infuser? [default: true]
        B:enable_metallurgic_infuser_mapper=true

        # Enable mapper for OsmiumCompressor? [default: true]
        B:enable_osmiumcompressor_mapper=true

        # Enable mapper for PrecisionSawmill? [default: true]
        B:enable_precisionsawmill_mapper=true

        # Enable mapper for Pressurized Reaction Chamber? [default: true]
        B:enable_pressurized_reaction_chamber_mapper=true

        # Enable mapper for PurificationChamber? [default: true]
        B:enable_purificationchamber_mapper=true

        # Enable mapper for Rotary Condensentrator? [default: true]
        B:enable_rotary_condensentrator_mapper=true

        # Enable mapper for Solar Neutron Activator? [default: true]
        B:enable_solar_neutron_activator_mapper=true

        # Enable mapper for Thermal Evaporation? [default: true]
        B:enable_thermal_evaporation_mapper=true
    }

    embers {
        # Enable the plugin [default: true]
        B:enable=true
    }

    thaumcraft {
        # Enable the plugin [default: true]
        B:enable=true
    }

    tconstruct {
        # Enable the plugin [default: true]
        B:enable=true

        # Tinkers Smelter Alloying recipe support [default: true]
        B:enable_alloy_mapper=true

        #  [default: true]
        B:enable_drying_mapper=true

        #  [default: true]
        B:enable_melting_mapper=true
    }

    artisanworktables {
        # Enable the plugin [default: true]
        B:enable=true
    }

    ic2 {
        # Enable the plugin [default: true]
        B:enable=true
    }

    immersiveengineering {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Blast Furnace? [default: true]
        B:enable_blast_furnace_mapper=true

        # Enable mapper for Coke Oven? [default: true]
        B:enable_coke_oven_mapper=true

        # Enable mapper for Crusher? [default: true]
        B:enable_crusher_mapper=true

        # Enable mapper for Enginner Workbench? [default: true]
        B:enable_enginner_workbench_mapper=true

        # Enable mapper for Kiln? [default: true]
        B:enable_kiln_mapper=true

        # Enable mapper for Metal Press? [default: true]
        B:enable_metal_press_mapper=true
    }

    extrabotany {
        # Enable the plugin [default: true]
        B:enable=true
    }

    appliedenergistics2 {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Grindstone? [default: true]
        B:enable_grindstone_mapper=true

        # Enable mapper for Inscriber? [default: true]
        B:enable_inscriber_mapper=true
    }

    techreborn {
        # Enable the plugin [default: true]
        B:enable=true
    }

    charset {
        # Enable the plugin [default: true]
        B:enable=true
    }

    nuclearcraft {
        # Enable the plugin [default: true]
        B:enable=true
    }

    extendedcrafting {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for combination? [default: true]
        B:enable_combination_mapper=true

        # Enable mapper for compressor? [default: true]
        B:enable_compressor_mapper=true

        # Enable Ender and Tiered crafting recipe mapper? [default: true]
        B:enable_table_mapper=true
    }

    woot {
        # Enable the plugin [default: true]
        B:enable=true
    }

    reborncore {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Reborn Core? [default: true]
        B:enable_reborn_core_mapper=true
    }

    astralsorcery {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Altar? [default: true]
        B:enable_altar_mapper=true

        # These recipes contain chances, so it is disabled by default [default: false]
        B:enable_grindstone_mapper=false

        # Enable mapper for Starlight Infusion? [default: true]
        B:enable_starlight_infusion_mapper=true
    }

    modularmachinery {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Auto Cauldron? [default: true]
        B:enable_auto_cauldron_mapper=true

        # Enable mapper for Chemical Mixer? [default: true]
        B:enable_chemical_mixer_mapper=true

        # Enable mapper for Ethylitic Enricher? [default: true]
        B:enable_ethylitic_enricher_mapper=true

        # Enable mapper for Hydraulic Press? [default: true]
        B:enable_hydraulic_press_mapper=true

        # Enable mapper for Industrial Drying Unit? [default: true]
        B:enable_industrial_drying_unit_mapper=true

        # Enable mapper for Industrial Drying Unit Mk2? [default: true]
        B:enable_industrial_drying_unit_mk2_mapper=true

        # Enable mapper for Industrial Drying Unit Mk3? [default: true]
        B:enable_industrial_drying_unit_mk3_mapper=true

        # Enable mapper for Industrial Loom? [default: true]
        B:enable_industrial_loom_mapper=true

        # Enable mapper for Industrial Mill? [default: true]
        B:enable_industrial_mill_mapper=true

        # Enable mapper for Liquid Processor? [default: true]
        B:enable_liquid_processor_mapper=true

        # Enable mapper for Mixer? [default: true]
        B:enable_mixer_mapper=true

        # Enable mapper for Mixer Mk2? [default: true]
        B:enable_mixer_mk2_mapper=true

        # Enable mapper for Mixer Mk3? [default: true]
        B:enable_mixer_mk3_mapper=true

        # Enable mapper for OreMatic 5000? [default: true]
        B:enable_orematic_5000_mapper=true

        # Enable mapper for OreMatic 5000 Mk2? [default: true]
        B:enable_orematic_5000_mk2_mapper=true

        # Enable mapper for OreMatic 5000 Mk3? [default: true]
        B:enable_orematic_5000_mk3_mapper=true

        # Enable mapper for Paperclip Factory? [default: true]
        B:enable_paperclip_factory_mapper=true

        # Enable mapper for Plastic Molder? [default: true]
        B:enable_plastic_molder_mapper=true

        # Enable mapper for Scamulator? [default: true]
        B:enable_scamulator_mapper=true

        # Enable mapper for Volcanic Crystalizer? [default: true]
        B:enable_volcanic_crystalizer_mapper=true
    }

    mysticalagriculture {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Seed Processor? [default: true]
        B:enable_seed_processor_mapper=true
    }

    calculator {
        # Enable the plugin [default: true]
        B:enable=true
    }

    avaritia {
        # Enable the plugin [default: true]
        B:enable=true
    }

    enderio {
        # Enable the plugin [default: true]
        B:enable=true
    }

    harvestcraft {
        # Enable the plugin [default: true]
        B:enable=true
    }

    botania {
        # Enable the plugin [default: true]
        B:enable=true
    }

    armorplus {
        # Enable the plugin [default: true]
        B:enable=true
    }

    forestry {
        # Enable the plugin [default: true]
        B:enable=true
    }

    bloodmagic {
        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for Alchemy Array? [default: true]
        B:enable_alchemy_array_mapper=true

        # Enable mapper for Alchemy Table? [default: true]
        B:enable_alchemy_table_mapper=true

        # Enable mapper for Blood Altar? [default: true]
        B:enable_blood_altar_mapper=true

        # Enable mapper for Tartaric Forge? [default: true]
        B:enable_tartaric_forge_mapper=true
    }

    actuallyadditions {
        # Set the EMC for the item 'Coffee Beans'  [range: -1 ~ 2147483647, default: 64]
        I:emc_item_item.actuallyadditions.item_coffee_beans=64

        # Set the EMC for the item 'Rice'  [range: -1 ~ 2147483647, default: 64]
        I:emc_item_item.actuallyadditions.item_food_rice=64

        # Set the EMC for the item 'Bat's Wing'  [range: -1 ~ 2147483647, default: 480]
        I:emc_item_item.actuallyadditions.item_misc_bat_wing=480

        # Set the EMC for the item 'Canola'  [range: -1 ~ 2147483647, default: 64]
        I:emc_item_item.actuallyadditions.item_misc_canola=64

        # Set the EMC for the item 'Solidified Experience'  [range: -1 ~ 2147483647, default: 863]
        I:emc_item_item.actuallyadditions.item_solidified_experience=863

        # Enable the plugin [default: true]
        B:enable=true

        # Enable mapper for crusher? [default: true]
        B:enable_crusher_mapper=true

        # Enable mapper for Empowerer? [default: true]
        B:enable_empowerer_mapper=true

        # Enable mapper for Reconstructor? [default: true]
        B:enable_reconstructor_mapper=true
    }

    psi {
        # Enable the plugin [default: true]
        B:enable=true
    }

}


