# Configuration file

##########################################################################################################
# roadblocks
#--------------------------------------------------------------------------------------------------------#
# MOVEMENT_SPEED Attribute is used for more Info about Modifier Amounts and Operations:
# https://minecraft.gamepedia.com/Attribute
##########################################################################################################

roadblocks {

    ##########################################################################################################
    # block1
    #--------------------------------------------------------------------------------------------------------#
    # Road Block 1
    ##########################################################################################################

    block1 {
        # ID of Road Block [default: minecraft:stonebrick]
        S:"Block ID"=minecraft:stonebrick

        # Amound of Speed Modification [range: -1000.0 ~ 1000.0, default: 0.2]
        S:"Modifier Amount"=0.2

        # Operation of Speed Modification [range: 0 ~ 2, default: 2]
        I:"Modifier Operation"=2
    }

    ##########################################################################################################
    # block2
    #--------------------------------------------------------------------------------------------------------#
    # Road Block 2
    ##########################################################################################################

    block2 {
        # ID of Road Block [default: minecraft:grass_path]
        S:"Block ID"=minecraft:grass_path

        # Amound of Speed Modification [range: -1000.0 ~ 1000.0, default: 0.1]
        S:"Modifier Amount"=0.1

        # Operation of Speed Modification [range: 0 ~ 2, default: 2]
        I:"Modifier Operation"=2
    }

    ##########################################################################################################
    # block3
    #--------------------------------------------------------------------------------------------------------#
    # Road Block 3
    ##########################################################################################################

    block3 {
        # ID of Road Block [default: ]
        S:"Block ID"=immersivepetroleum:stone_decoration

        # Amound of Speed Modification [range: -1000.0 ~ 1000.0, default: 0.0]
        S:"Modifier Amount"=0.1

        # Operation of Speed Modification [range: 0 ~ 2, default: 0]
        I:"Modifier Operation"=2
    }

    ##########################################################################################################
    # block4
    #--------------------------------------------------------------------------------------------------------#
    # Road Block 4
    ##########################################################################################################

    block4 {
        # ID of Road Block [default: ]
        S:"Block ID"=

        # Amound of Speed Modification [range: -1000.0 ~ 1000.0, default: 0.0]
        S:"Modifier Amount"=0.0

        # Operation of Speed Modification [range: 0 ~ 2, default: 0]
        I:"Modifier Operation"=0
    }

    ##########################################################################################################
    # block5
    #--------------------------------------------------------------------------------------------------------#
    # Road Block 5
    ##########################################################################################################

    block5 {
        # ID of Road Block [default: ]
        S:"Block ID"=

        # Amound of Speed Modification [range: -1000.0 ~ 1000.0, default: 0.0]
        S:"Modifier Amount"=0.0

        # Operation of Speed Modification [range: 0 ~ 2, default: 0]
        I:"Modifier Operation"=0
    }

}


##########################################################################################################
# shoes
#--------------------------------------------------------------------------------------------------------#
# Shoe configuration tbd
##########################################################################################################

shoes {
}


