# Configuration file

filters {
    # Should messages from the forge logger be filtered? [default: true]
    B:FilterForge=true

    # Should messages from java loggers be filtered? [default: true]
    B:FilterJava=true

    # Should messages from log4j loggers be filtered? [default: true]
    B:FilterLog4J=true

    # Should messages from misc loggers be filtered? [default: true]
    B:FilterOthers=true

    # Should messages from system out be filtered? [default: true]
    B:FilterSystem=true
}


general {
    # A list of strings. If a console message contains any of these, it will be filtered out of the log. [default: ]
    S:BasicFilter <
     >

    # A list of regex patterns. If a console message matches one of these filters they will be removed from the log. [default: ]
    S:RegexFilters <
     >
}


