# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=true

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=300
}


