# Configuration file

general {
    # If not empty, tumbleweeds spawn ONLY in the specified biomes. Else they appear in all hot, dry biomes.
    # Example entry: minecraft:desert
    S:"Biome Whitelist" <
     >

    # The chance of a tumbleweed spawning in a chunk.
    D:Chance=0.3

    # These items will drop from tumbleweed upon destroying.
    # The first number is entry weight and the string is item name.
    S:Drops <
        3 minecraft:deadbush
        2 minecraft:string
        3 minecraft:feather
        3 minecraft:wheat
        4 minecraft:stick
        3 minecraft:reeds
     >

    # The blocks in which tumbleweeds can spawn in.
    S:"Spawning Blocks" <
        minecraft:deadbush
     >
}


