# Configuration file

general {
    # Allow portals only for admins (Operators). This severely reduces the range in which the mod usually scans for valid portal conditions, and it scans near ops only.
    B:adminOnlyPortals=false

    # Allow portals to the Twilight Forest to be made outside of dimension 0. May be considered an exploit.
    B:allowPortalsInOtherDimensions=false

    # Anti-Builder blacklist. (domain:block:meta) meta is optional.
    S:antibuilderBlacklist <
        minecraft:bedrock
     >

    # Disable Twilight Forest portal creation entirely. Provided for server operators looking to restrict action to the dimension.
    B:disablePortalCreation=false

    # Disable the uncrafting function of the uncrafting table. Provided as an option when interaction with other mods produces exploitable recipes.
    B:disableUncrafting=false

    # Should TF Compatibility load? Turn off if TF's Compatibility is causing crashes or if not desired.
    B:doCompat=true

    # Controls whether various effects from the mod are rendered while in first-person view. Turn this off if you find them distracting.
    B:firstPersonEffects=true

    # Registry String IDs of items used to create the Twilight Forest Portal. (domain:regname:meta) meta is optional.
    S:portalCreationItems <
        astralsorcery:itemcraftingcomponent:1
     >
    I:portalCreationMeta=1
    S:portalCreationNBT=

    # Set this true if you want the lightning that zaps the portal to not set things on fire. For those who don't like fun.
    B:portalLightning=false

    # Rotate trophy heads on item model. Has no performance impact at all. For those who don't like fun.
    B:rotateTrophyHeadsGui=true

    # If false, the return portal will require the activation item.
    B:shouldReturnPortalBeUsable=true

    # Make cicadas silent for those having sound library problems, or otherwise finding them annoying.
    B:silentCicadas=false

    ##########################################################################################################
    # dimension
    #--------------------------------------------------------------------------------------------------------#
    # Settings that are not reversible without consequences.
    ##########################################################################################################

    dimension {
        # What ID number to assign to the Twilight Forest dimension. Change if you are having conflicts with another mod.
        I:dimensionID=7

        # If true, players spawning for the first time will spawn in the Twilight Forest.
        B:newPlayersSpawnInTF=false

        # If true, Twilight Forest will generate as a void except for Major Structures
        B:skylightForest=false

        # If set, this will override the normal world seed when generating parts of the Twilight Forest Dimension.
        S:twilightForestSeed=
    }

    ##########################################################################################################
    # performance
    #--------------------------------------------------------------------------------------------------------#
    # Lets you sacrifice various things to improve world performance.
    ##########################################################################################################

    performance {
        # Amount of canopy coverage. Lower numbers improve chunk generation speed at the cost of a thinner forest.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:canopyCoverage=1.7000000476837158

        # Setting this true will make Twilight Glaciers generate with Packed Ice instead of regular translucent Ice, decreasing amount of light checking calculations.
        B:glacierPackedIce=false

        # This controls the opacity of leaves, changing the amount of light blocked. Can be used to decrease complexity in some lighting checks.
        # Min: 0
        # Max: 255
        I:leavesLightOpacity=1

        # Chance that a chunk in the Twilight Forest will contain a twilight oak tree. Higher numbers reduce the number of trees, increasing performance.
        # Min: 1
        # Max: 2147483647
        I:twilightOakChance=48
    }

    ##########################################################################################################
    # loadingscreen
    #--------------------------------------------------------------------------------------------------------#
    # Client only: Controls for the Loading screen
    ##########################################################################################################

    loadingscreen {
        # How many ticks between each loading screen change. Set to 0 to not cycle at all.
        # Min: 0
        # Max: 2147483647
        I:cycleLoadingScreenFrequency=0

        # Wobble the Loading icon. Has no performance impact at all. For those who don't like fun.
        B:enable=true

        # Frequency of wobble and bounce.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:frequency=5.0

        # List of items to be used for the wobbling Loading Icon. (domain:item:meta) meta is optional.
        S:loadingIconStacks <
            twilightforest:experiment_115
            twilightforest:magic_map
            twilightforest:charm_of_life_2
            twilightforest:charm_of_keeping_3
            twilightforest:phantom_helmet
            twilightforest:lamp_of_cinders
            twilightforest:carminite
            twilightforest:block_and_chain
            twilightforest:yeti_helmet
            twilightforest:hydra_chop
            twilightforest:magic_beans
            twilightforest:ironwood_raw
            twilightforest:naga_scale
            twilightforest:experiment_115:2
            twilightforest:miniature_structure
            twilightforest:miniature_structure:6
            twilightforest:knightmetal_block
            twilightforest:tower_device:10
            twilightforest:twilight_sapling:5
            twilightforest:twilight_sapling:6
            twilightforest:twilight_sapling:7
            twilightforest:twilight_sapling:8
            twilightforest:twilight_sapling:9
            twilightforest:borer_essence
         >

        # Scale of whole bouncy loading icon.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:scale=3.0

        # How much the loading icon bounces.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:scaleDeviation=5.25

        # Pushback value to re-center the wobble of loading icon.
        # Min: 0.0
        # Max: 360.0
        D:tiltConstant=22.5

        # How far the loading icon wobbles.
        # Min: 0.0
        # Max: 360.0
        D:tiltRange=11.25
    }

    shieldinteractions {
        B:parryNonTwilightAttacks=false

        # Min: 0
        # Max: 2147483647
        I:shieldParryTicksArrow=40

        # Min: 0
        # Max: 2147483647
        I:shieldParryTicksBeam=10

        # Min: 0
        # Max: 2147483647
        I:shieldParryTicksFireball=40

        # Min: 0
        # Max: 2147483647
        I:shieldParryTicksThrowable=40
    }

}


