# Configuration file

general {
    # If ALL skeletons in any Biome are turned into Wither Skeletons. [default: false]
    B:"All Biomes"=false

    # The 1/n chance for (if "All Biomes" is true) a skeleton in a non-Hell biome to be a Wither Skeleton [range: 1 ~ 2147483647, default: 1]
    I:"All Biomes Chance"=1

    # Whether or not to remove stone swords from wither skeleton drops. [default: true]
    B:"Delete Stone Swords"=true

    # If the Immolation Blade (Blaze) is enabled [default: true]
    B:"Enable Blaze Immolation Blade"=true

    # If the Immolation Blade (Lava) is enabled [default: true]
    B:"Enable Lava Immolation Blade"=true

    # If, when a blaze or pigman spawns on Nether Brick, a wither skeleton spawns with it. [default: false]
    B:"Extra Spawns"=false

    # How many extra wither skeletons are spawned when one would be. [range: 0 ~ 10, default: 0]
    I:"Extra Wither Skeletons"=0

    # The wither skull fragment drop chance in 1/n.  Higher numbers means less drops. Set to 0 to disable. [range: 0 ~ 2147483647, default: 1]
    I:"Fragment Drop Chance"=1

    # If converted wither skeletons are given bows. [default: true]
    B:"Give Bows"=true

    # The damage of the immolation blade.  The actual value will be higher than this. [range: 1.0 ~ 1500.0, default: 12.0]
    S:"Immolation Damage"=12.0

    # The value of a skull fragment, in terms of 1/n (How many shards per skull) Valid values are 1-9 [range: 1 ~ 9, default: 9]
    I:"Shard Value"=9
}


