// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.5\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "logLevel": "INFO",
  "autoMapPoll": "2000",
  "cacheAnimalsData": "3100",
  "cacheMobsData": "3000",
  "cachePlayerData": "1000",
  "cachePlayersData": "2000",
  "cacheVillagersData": "2200",
  "announceMod": "false",
  "checkUpdates": "false",
  "recordCacheStats": "false",
  "browserPoll": "2000",
  "themeName": "OceanMonument",
  "caveIgnoreGlass": "true",
  "mapBathymetry": "false",
  "mapTopography": "true",
  "mapTransparency": "true",
  "mapCaveLighting": "true",
  "mapAntialiasing": "true",
  "mapPlantShadows": "false",
  "mapPlants": "false",
  "mapCrops": "true",
  "mapBlendGrass": "true",
  "mapBlendFoliage": "true",
  "mapBlendWater": "false",
  "mapSurfaceAboveCaves": "true",
  "renderDistanceCaveMax": "3",
  "renderDistanceSurfaceMax": "3",
  "renderDelay": "2",
  "revealShape": "Circle",
  "alwaysMapCaves": "false",
  "alwaysMapSurface": "false",
  "tileHighDisplayQuality": "true",
  "maxAnimalsData": "32",
  "maxMobsData": "32",
  "maxPlayersData": "32",
  "maxVillagersData": "32",
  "hideSneakingEntities": "true",
  "radarLateralDistance": "64",
  "radarVerticalDistance": "16",
  "tileRenderType": "1",
  "mappingEnabled": "true",
  "renderOverlayEventTypeName": "ALL",
  "renderOverlayPreEvent": "true",
  "optionsManagerViewed": "5.5.4",
  "splashViewed": "5.5.4",
  "gridSpecs": {
    "day": "Squares,#808080,0.5,-1,-1",
    "night": "Squares,#8080ff,0.3,-1,-1",
    "underground": "Squares,#808080,0.3,-1,-1"
  },
  "colorPassive": "#bbbbbb",
  "colorHostile": "#ff0000",
  "colorPet": "#0077ff",
  "colorVillager": "#88e188",
  "colorPlayer": "#ffffff",
  "colorSelf": "#0000ff",
  "verboseColorPalette": "false",
  "configVersion": "5.5.4"
}