# Configuration file

##########################################################################################################
# Feature Control
#--------------------------------------------------------------------------------------------------------#
# Control which features are enabled:
##########################################################################################################

"Feature Control" {
    B:"Replace Stone Variant Deposits"=true
    B:"Enable Yellorium"=true
    B:"Enable Osmium"=true
    B:"Enable Osmium Exclusively (without platinum)"=true
    B:"Enable Ingots"=false
    B:"Enable Prospector's Pick"=false
    B:"Enable Cluster Smelting"=false
    B:"Register Aluminum Cluster as oreBauxite"=false
}


##########################################################################################################
# Ore Samples
#--------------------------------------------------------------------------------------------------------#
# Settings strictly regarding samples
##########################################################################################################

"Ore Samples" {
    I:"Maximum Number of Samples per Chunk"=10
    B:"Allow samples to spawn in water (shallow or deep)"=false
    B:"Samples drop nothing, instead reveal their contents via chat"=false
}


##########################################################################################################
# User Entries
#--------------------------------------------------------------------------------------------------------#
# It is STRONGLY suggested you use the ConfigGUI for this.
##########################################################################################################

"User Entries" {
    # Format is:
    # modid:block:meta, clusterSize, min Y, max Y, chance to gen in chunk. Example:
    # actuallyadditions:block_misc:3, 32, 13, 42, 20
    # Optionally you can declare your own "sample" block by appending an extra modid:block:meta to the end. Example:
    # actuallyadditions:block_misc:3, 32, 13, 42, 20, actuallyadditions:block_misc:1
    # META, COLONS AND COMMAS ARE REQUIRED.
    S:"Custom Ore Entries" <
        astralsorcery:blockcustomore:0, 16, 2, 10, 5, astralsorcery:blockgeolosyssamplecluster:0
        mundaneredstone:redstone_ore:0, 36, 4, 24, 10, geolosys:ore_sample_vanilla:1
     >

    # Format is:
    # modid:block:meta, min Y, max Y, chance to gen in chunk
    # ALL CLUSTERS ARE APPROX. THE SAME SIZE & AREN'T CONFIGURABLE.
    # META, COLONS AND COMMAS ARE REQUIRED. Example:
    # rustic:slate:0, 27, 54, 10
    S:"Custom Stone Entries" <
     >
}


