# Configuration file

general {

    machines {
        # A modifier to apply to the Flux production of the Alternator ((speed*torque) / modifier)
        I:alternator_RfModifier=800

        # The max of Flux that the Alternator can store
        I:alternator_energyStorage=1200000
        I:alternator_kWattPerRf=2

        # A modifier to apply to the burn time of fuel into the Boiler: (1000 / fuelBurnTime) * boiler_burnTimeModifier mb/t
        I:boiler_burnTimeModifier=4

        # A modifier to apply to the time of every Boiler recipe
        I:boiler_timeModifier=1

        # A modifier to apply to the energy costs of every Distiller recipe
        I:distiller_energyModifier=1

        # A modifier to apply to the time of every Distiller recipe
        I:distiller_timeModifier=1

        # The max distance between the Solar Tower and the Solar Reflectors
        I:solarTower_range=10

        # A modifier to apply to the time of every Solar Tower recipe
        I:solarTower_timeModifier=1

        # A modifier to apply to the burn time of steam into the SteamTurbine: (1000 / steamBurnTime) * steamTurbine_burnTimeModifier mb/t
        I:steamTurbine_burnTimeModifier=5

        # The max speed that the Steam Turbine can produce
        I:steamTurbine_maxSpeed=6144

        # The max torque that the Steam Turbine can produce
        I:steamTurbine_maxTorque=8192
        I:steamTurbine_output=12288
    }

}


