# Configuration file

general {
    # Display chunk border while holding Core Samples, default=true
    B:sample_displayBorder=true

    extraction {
        # Number of ticks between checking for pipes below pumpjack if required, default=100 (5 secs)
        I:pipe_check_ticks=100

        # The Flux the Pumpjack requires each tick to pump, default=1024
        I:pumpjack_consumption=1024

        # The amount of mB of oil a Pumpjack extracts per tick, default=15
        I:pumpjack_speed=15

        # Require a pumpjack to have pipes built down to Bedrock, default=false
        B:req_pipes=false

        # The chance that a chunk contains a fluid reservoir, default=0.5
        D:reservoir_chance=0.5

        # List of reservoir types. Format: name, fluid_name, min_mb_fluid, max_mb_fluid, mb_per_tick_replenish, weight, [dim_blacklist], [dim_whitelist], [biome_dict_blacklist], [biome_dict_whitelist]
        S:reservoirs <
         >
    }

    refining {
        # A modifier to apply to the energy costs of every Distillation Tower recipe, default=1
        D:distillationTower_energyModifier=1.0

        # A modifier to apply to the time of every Distillation recipe. Can't be lower than 1, default=1
        D:distillationTower_timeModifier=1.5

        # Distillation Tower byproducts. Need one for each recipe. Multiple solid outputs for a single recipe can be separated by semicolons. Format: item_name, stack_size, metadata, percent_chance
        S:towerByproduct <
         >

        # Distillation Tower recipes. Format: power_cost, input_name, input_mb -> output1_name, output1_mb, output2_name, output2_mb
        S:towerRecipes <
         >
    }

    generation {
        # List of Portable Generator fuels. Format: fluid_name, mb_used_per_tick, flux_produced_per_tick
        S:fuels <
         >
    }

    misc {
        # Automatically unlock IP recipes for new players, default=true
        B:autounlock_recipes=true

        # List of Motorboat fuels. Format: fluid_name, mb_used_per_tick
        S:boat_fuels <
            gasoline, 1
         >
    }

    tools {
    }

}


