# Configuration file

integrationforegoing {

    integrations {
        B:actuallyAdditions=true
        B:ae2=true
        B:evilcraft=true
        B:exNihiloCreatio=true
        B:extraUtils2=true
        B:forestry=true
        B:harvestCraft=true
        B:immersiveEngineering=true
        B:mysticalAgradditions=true
        B:mysticalAgriculture=true
        B:natura=true
        B:oreShrubs=true
        B:oreberries=true
        B:rftools=true
        B:simpleCorn=true
        B:tconstruct=true
        B:thermalFoundation=true
    }

    misc {
    }

}


