# Configuration file

general {
    # Allow normal users to see event subscribers?
    B:ALLOW_NON_OPS_TO_SEE_EVENT_SUBSCRIBERS=false

    # What is the maximum HORIZONTAL range in blocks normal users can get results for?
    D:NON_OPS_MAX_HORIZONTAL_RANGE=50.0

    # If normal users can start the profiler, what is the maximum time in seconds?
    I:NON_OPS_MAX_PROFILE_TIME=20

    # What is the maximum VERTICAL range in blocks normal users can get results for?
    D:NON_OPS_MAX_VERTICAL_RANGE=20.0

    # If normal users can start the profiler, what is the cool-down between requests in seconds?
    I:NON_OPS_PROFILE_COOL_DOWN_SECONDS=120

    # How often can normal users request the latest scan result in seconds?
    I:NON_OPS_REQUEST_LAST_SCAN_DATA_TIMEOUT=30

    # From where should we range-limit blocks vertically for normal users?
    # This will override the MAX_VERTICAL_RANGE when the block is above this Y level
    I:NON_OPS_WHITELIST_HEIGHT_ABOVE=64

    # What's the permission level available to non-operators (Normal players)?
    # Available permissions in ascending order are:
    #    'NONE'  No permissions are granted, all functionality is denied.
    #    'GET'   Allow getting the latest scan result, this will be stripped down to the player's surroundings
    #    'START' Allow starting the profiler
    #    'FULL'  All permissions are granted, teleporting to entities, blocks
    # Valid values:
    # NONE
    # GET
    # START
    # FULL
    S:NON_OP_PERMISSION_LEVEL=START
}


