# Configuration file

general {
    # true allows Mending and Excavate to be on the same Tool with Enchantments
    B:allowMendingEnchantment=true

    # true allows Mending and Excavate to be on the same Tool with Tinkers
    B:allowMendingTinkers=true

    # This will disable the chat notification for all Players on the server
    B:disableChatNotification=false

    # Setting this config to true will fully disable the mod and you can use OreExcavation normally.
    # This is better than ripping out the JAR from the mods folder
    B:disableMod=false

    # This will take away the ability to enchant any item that is a tool
    S:enchantmentBlacklist <
     >

    # A tool in this list will be allowed to get the enchantment as well as any tool
    S:enchantmentWhitelist <
        minecraft:shears
     >

    # The max level of enchantment needed to full power of the tool.
    I:maxEnchantmentLevel=5

    # The amount of tinkers modifers needed to reach full power.
    I:maxTinkersModifersCount=25

    # If the current packmode is in this list then you will be able to mine without the modifier
    S:packModesWhitelist <
     >

    # Setting this to true toggels the whitelist to a blacklist
    B:packModesWhitelistToBlacklistToggle=false
    B:ticMicrocrafting=true

    # A tool in this list won't require the enchantment
    S:toolWhitelistOverride <
     >
}


