# Configuration file

"aluminium ore gen" {
    B:"Generate Aluminium Ore"=false
    I:"Maximum Y value for ore spawn"=48
    I:"Minimum Y value for ore spawn"=6
    I:"Ore blocks per cluster"=10
    I:"Ore clusters per Chunk"=10
}


"copper ore gen" {
    B:"Generate Copper Ore"=false
    I:"Maximum Y value for ore spawn"=80
    I:"Minimum Y value for ore spawn"=20
    I:"Ore blocks per cluster"=12
    I:"Ore clusters per Chunk"=12
}


"lead ore gen" {
    B:"Generate Lead Ore"=false
    I:"Maximum Y value for ore spawn"=36
    I:"Minimum Y value for ore spawn"=0
    I:"Ore blocks per cluster"=8
    I:"Ore clusters per Chunk"=8
}


"magmite ore gen" {
    B:"Generate Magmite Ore"=false
    I:"Maximum Y value for ore spawn"=21
    I:"Minimum Y value for ore spawn"=0
    I:"Ore blocks per cluster"=6
    I:"Ore clusters per Chunk"=4
}


"ore gen" {
    B:"Disable ore gen if TSON Craft is installed"=true
}


"silver ore gen" {
    B:"Generate Silver Ore"=false
    I:"Maximum Y value for ore spawn"=36
    I:"Minimum Y value for ore spawn"=0
    I:"Ore blocks per cluster"=8
    I:"Ore clusters per Chunk"=8
}


"tin ore gen" {
    B:"Generate Tin Ore"=false
    I:"Maximum Y value for ore spawn"=72
    I:"Minimum Y value for ore spawn"=16
    I:"Ore blocks per cluster"=12
    I:"Ore clusters per Chunk"=12
}


