# Configuration file

##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Uncategorized settings.
##########################################################################################################

misc {
    # Turns various secret silly features on or off. ;) [default: true]
    B:enableSilliness=true
}


##########################################################################################################
# mobs
#--------------------------------------------------------------------------------------------------------#
# Settings related to mobs.
##########################################################################################################

mobs {
    # Configures the spawning frequency of the Deer mob. Higher numbers mean more spawns. [range: 0 ~ 32767, default: 10]
    I:deerSpawnWeight=10

    # Configures the spawning frequency of the Sprout mob. Higher numbers mean more spawns. [range: 0 ~ 32767, default: 6]
    I:sproutSpawnWeight=6
}


##########################################################################################################
# structures
#--------------------------------------------------------------------------------------------------------#
# Settings related to structures.
##########################################################################################################

structures {
    # Configures the generation chance of the Barrow structure. Higher numbers mean less structures. [range: 0 ~ 32767, default: 200]
    I:barrowChance=0

    # Configures the generation chance of the Fairy Pool structure. Higher numbers mean less structures. [range: 0 ~ 32767, default: 100]
    I:fairyPoolChance=100

    # Configures the generation chance of the Garden structure. Higher numbers mean less structures. [range: 0 ~ 32767, default: 160]
    I:gardenChance=0

    # Toggles the generation of Ley Marker structures. [default: true]
    B:generateLeyMarkers=true

    # Configures the generation chance of the Moonlight Circle structure. Higher numbers mean less structures. [range: 0 ~ 32767, default: 180]
    I:hutChance=0

    # Configures the generation chance of the Moonlight Circle structure. Higher numbers mean less structures. [range: 0 ~ 32767, default: 240]
    I:stoneCircleChance=280
}


