# Configuration file

general {
    # Enables the compass which shows the direction you are going while sneaking [default: false]
    B:"Enable the Compass"=false

    # Makes conveyors stop pushing you while you are sneaking [default: true]
    B:"Stop Pushing While Sneaking"=true
}


