# Configuration file

~CONFIG_VERSION: 0.2.1

general {
    # (Regex) Items that will not be broken down into their components. You may add an @ symbol at the end followed by a damage value to target an item with that specific damage value [default: [^minecraft:stick$], [^minecraft:torch$], [^minecraft:leather$], [^minecraft:paper$], [^minecraft:wool$], [^minecraft:planks$], [^minecraft:netherrack$], [^actuallyadditions:item_crystal$], [^actuallyadditions:item_crystal_empowered$], [^minecraft:dye$], [^minecraft:flint$], [^minecraft:obsidian$], [^minecraft:.*_bucket$], [^minecraft:wool$], [^minecraft:glowstone_dust$], [^minecraft:.*_bottle$], [^minecraft:elytra$], [^minecraft:string$], [^minecraft:string$], [^harvestcraft:cuttingboarditem$], [^harvestcraft:potitem], [^harvestcraft:skilletitem], [^harvestcraft:saucepanitem], [^harvestcraft:bakewareitem], [^harvestcraft:mortarandpestleitem], [^harvestcraft:mixingbowlitem], [^harvestcraft:juiceritem]]
    S:baseItems <
        ^minecraft:stick$
        ^minecraft:torch$
        ^minecraft:leather$
        ^minecraft:paper$
        ^minecraft:wool$
        ^minecraft:planks$
        ^minecraft:netherrack$
        ^actuallyadditions:item_crystal$
        ^actuallyadditions:item_crystal_empowered$
        ^minecraft:dye$
        ^minecraft:flint$
        ^minecraft:obsidian$
        ^minecraft:.*_bucket$
        ^minecraft:wool$
        ^minecraft:glowstone_dust$
        ^minecraft:.*_bottle$
        ^minecraft:elytra$
        ^minecraft:string$
        ^minecraft:string$
        ^harvestcraft:cuttingboarditem$
        ^harvestcraft:potitem
        ^harvestcraft:skilletitem
        ^harvestcraft:saucepanitem
        ^harvestcraft:bakewareitem
        ^harvestcraft:mortarandpestleitem
        ^harvestcraft:mixingbowlitem
        ^harvestcraft:juiceritem
     >

    # (Regex) Recipes containing these items will not be used. You may add an @ symbol at the end followed by a damage value to target an item with that specific damage value [default: [^thermalfoundation:material$@864], [^thermalfoundation:material$@1024], [^thermalfoundation:material$@1025], [^thermalfoundation:material$@1026], [^thermalfoundation:material$@1027], [^thermalfoundation:material$@1028], [^mysticalagriculture:.*_essence$], [^techreborn:uumatter$], [^mysticalagradditions:stuff$], [^ic2:crafting$@38]]
    S:recipeItemBlacklist <
        ^thermalfoundation:material$@864
        ^thermalfoundation:material$@1024
        ^thermalfoundation:material$@1025
        ^thermalfoundation:material$@1026
        ^thermalfoundation:material$@1027
        ^thermalfoundation:material$@1028
        ^mysticalagriculture:.*_essence$
        ^techreborn:uumatter$
        ^mysticalagradditions:stuff$
        ^ic2:crafting$@38
     >
}


gui {
    # True will make the GUI tracker show how many more items you need. False will show the total amount needed [default: true]
    B:showRemainingItemsInTracker=true

    # A float between 0 and 1 that scales the font size used to display item amounts [range: 0.0 ~ 1.0, default: 0.5]
    S:textScale=0.5
}


