# Configuration file

general {
    # Block registry names for fluids that should be made finite
    S:finiteFluids <
        water
     >

    # Biomes in which these fluids should be infinite
    S:infiniteBiomes <
        minecraft:ocean
        minecraft:deep_ocean
        minecraft:frozen_ocean
        minecraft:beaches
        minecraft:river
        minecraft:stone_beach
        minecraft:cold_beach
        twilightforest:twilight_lake
        twilightforest:twilight_stream
     >

    # Dimensions in which these fluids should be infinite
    I:infiniteDimensions <
     >

    # Minimum y-level in which fluids can form new source blocks.
    # Min: 0
    # Max: 255
    I:maxHeight=255

    # Maximum y-level in which fluids can form new source blocks.
    # Min: 0
    # Max: 255
    I:minHeight=0
}


