# Configuration file

##########################################################################################################
# blacklist
#--------------------------------------------------------------------------------------------------------#
# Blacklist options for various features
##########################################################################################################

blacklist {
    # Stops listed blocks and entities from being teleposed.
    # Use the registry name of the block or entity. Vanilla objects do not require the modid.
    # If a block is specified, you can list the variants to only blacklist a given state.
    S:teleposer <
        bedrock
        mob_spawner
     >

    # Stops listed blocks from being transposed.
    # Use the registry name of the block. Vanilla blocks do not require the modid.
    S:transposer <
        bedrock
        mob_spawner
     >

    # Stops the listed entities from being used in the Well of Suffering.
    # Use the registry name of the entity. Vanilla entities do not require the modid.
    S:wellOfSuffering <
     >
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings that only pertain to the client
##########################################################################################################

client {
    # Always render the beams between routing nodes.
    # If disabled, the beams will only render while the Node Router is held.
    B:alwaysRenderRoutingLines=false

    # Completely hide spectral blocks from view.
    # If disabled, a transparent block will be displayed.
    B:invisibleSpectralBlocks=true

    # When cycling through slots, the Sigil of Holding will skip over empty slots and move to the next occupied one.
    # If disabled, it will behave identically to the default hotbar.
    B:sigilHoldingSkipsEmptySlots=false
}


##########################################################################################################
# compat
#--------------------------------------------------------------------------------------------------------#
# Compatibility settings
##########################################################################################################

compat {
    # The display mode to use when looking at a Blood Altar.
    # ALWAYS - Always display information.
    # SIGIL_HELD - Only display information when a Divination or Seers sigil is held in either hand.
    # SIGIL_CONTAINED - Only display information when a Divination or Seers sigil is somewhere in the inventory.
    # Valid values:
    # ALWAYS
    # SIGIL_HELD
    # SIGIL_CONTAINED
    S:wailaAltarDisplayMode=SIGIL_HELD
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # Enables extra information to be printed to the log.
    B:enableAPILogging=false

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableDebugLogging=false

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableVerboseAPILogging=false
}


##########################################################################################################
# rituals
#--------------------------------------------------------------------------------------------------------#
# Toggles for all rituals
##########################################################################################################

rituals {
    B:ritualAltarBuilder=true
    B:ritualAnimalGrowth=true
    B:ritualArmourEvolve=true
    B:ritualContainment=true
    B:ritualCrushing=true
    B:ritualCrystalHarvest=true
    B:ritualDowngrade=true
    B:ritualExpulsion=true
    B:ritualFeatheredKnife=true
    B:ritualFelling=true
    B:ritualForsakenSoul=true
    B:ritualFullStomach=true
    B:ritualGreenGrove=true
    B:ritualHarvest=true
    B:ritualInterdiction=true
    B:ritualJumping=true
    B:ritualLava=true
    B:ritualMagnetic=true
    B:ritualMeteor=true
    B:ritualPlacer=true
    B:ritualPortal=true
    B:ritualPump=true
    B:ritualRegeneration=true
    B:ritualSpeed=true
    B:ritualSuppression=true
    B:ritualUpgradeRemove=true
    B:ritualWater=true
    B:ritualWellOfSuffering=true
    B:ritualZephyr=true

    imperfect {
        B:imperfectRitualNight=true
        B:imperfectRitualRain=true
        B:imperfectRitualResistance=true
        B:imperfectRitualZombie=true
    }

}


##########################################################################################################
# values
#--------------------------------------------------------------------------------------------------------#
# Value modifiers for various features
##########################################################################################################

values {
    # Amount of LP the Coat of Arms should provide for each damage dealt.
    # Min: 0
    # Max: 100
    I:coatOfArmsConversion=20

    # Amount of LP the Sacrificial Dagger should provide for each damage dealt.
    # Min: 0
    # Max: 10000
    I:sacrificialDaggerConversion=100

    # Declares the amount of LP gained per HP sacrificed for the given entity.
    # Setting the value to 0 will blacklist it.
    # Use the registry name of the entity followed by a ';' and then the value you want.
    # Vanilla entities do not require the modid.
    S:sacrificialValues <
        villager;100
        slime;15
        enderman;10
        cow;100
        chicken;100
        horse;100
        sheep;100
        wolf;100
        ocelot;100
        pig;100
        rabbit;100
     >

    # Will rewrite any default meteor types with new versions.
    # Disable this if you want any of your changes to stay, or do not want default meteor types regenerated.
    B:shouldResyncMeteors=true
}


