# Configuration file

client {
    # Maximum width/depth of a block to grow to [range: 0.5 ~ 1.0, default: 0.9]
    S:maxTreeScale=0.9

    # Whether to show the drop chances in JEI [default: true]
    B:showChanceInJEI=true
}


drops {
    # How many fruits to drop by default [range: 0 ~ 64, default: 2]
    I:fruitAmount=2

    # Default chance for a fruit to drop [range: 0.0 ~ 1.0, default: 0.2]
    S:fruitChance=0.2

    # How many leaves to drop by default [range: 0 ~ 64, default: 1]
    I:leafAmount=1

    # Default chance for a leaf to drop [range: 0.0 ~ 1.0, default: 0.1]
    S:leafChance=0.1

    # How many wood logs to drop by default [range: 0 ~ 64, default: 1]
    I:logAmount=1

    # Default chance for a wood log to drop [range: 0.0 ~ 1.0, default: 0.75]
    S:logChance=0.75

    # How many saplings to drop by default [range: 0 ~ 64, default: 1]
    I:saplingAmount=1

    # Default chance for a sapling to drop [range: 0.0 ~ 1.0, default: 0.05]
    S:saplingChance=0.05

    # How many sticks to drop by default [range: 0 ~ 64, default: 3]
    I:stickAmount=3

    # Default chance for a stick to drop [range: 0.0 ~ 1.0, default: 0.2]
    S:stickChance=0.2
}


general {
    # How many ticks trees need to fully grow. Some tree types modify this value [range: 1 ~ 2147483647, default: 600]
    I:baseGrowTicks=600

    # Whether to disable the Hopping Bonsai Pot and make it behave like a normal Bonsai Pot [default: false]
    B:disableHoppingBonsaiPot=false
}


integration {
    # Integrations to disable (by classname, e.g. org.dave.bonsaitrees.integration.mods.PamsHarvestcraft) [default: ]
    S:disabledIntegrations <
     >

    # Tree types to disable (e.g. forestry:hillCherry) [default: ]
    S:disabledTreeTypes <
     >

    # Can be enabled for development purposes mostly. [default: false]
    B:loadShapesOfUnloadedTrees=false
}


