# Configuration file

Emitter {
    # If false, the emitter should be connected directly to a chimney to produce smoke. [default: true]
    B:allowGaps=true

    # If true, the smoke will be transferred to the chimneys directly connected from aside. [default: false]
    B:canEmitAside=false

    # If true, the smoke will be transferred to blocks above the emitter. [default: true]
    B:canEmitUpward=true

    # Defines a color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb) which will be applied to the smoke.
    # The alpha channel of this color (aa) determines probability of applying (ff - always, 7f - 1/2, 00 - never).
    #  [default: 0x22ff6600]
    S:color=0x22ff6600

    # Defines the key name of NBT tag that needs to be checked.
    # Smoke from this emitter will be gotten only if the returning value is > 0 or true.
    # Set empty string for no checks [default: ]
    S:nbtControlKey=

    # Defines how much smoke can be transferred through (1.0 means 100%) [range: 0.0 ~ 5.0, default: 0.9]
    S:patency=0.9

    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    #  [default: toughasnails:campfire:15]
    S:relatedBlockId=toughasnails:campfire:15
}


Smoke {
    # Defines particles amount [range: 0.0 ~ 50.0, default: 5.0]
    S:amount=5.0

    # Defines smoke blow out distance. [range: 0.0 ~ 10.0, default: 0.1]
    S:intencity=0.1

    # Defines smoke particles scale. [range: 1.0 ~ 5.0, default: 2.0]
    S:scale=2.0
}


