// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.6\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "showKeys": "true",
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "showVehicles": "true",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showEntityNames": "true",
  "zoomLevel": "0",
  "configVersion": "5.6.0b2"
}