# Configuration file

display {
    # Should I enable colorblind mode?
    B:colorBlindMode=false

    # Should all fluid values (Buckets, mB, mB/t) be hidden?
    B:hideFluidValues=false

    # Should all power values (MJ, MJ/t) be hidden?
    B:hidePowerValues=false

    # The rotation that items use when travelling through pipes. Set to 'enabled' for full rotation, 'disabled' for no rotation, or 'horizontals_only' to only rotate items when going horizontally.
    S:itemRenderRotation=enabled
    B:pipes.fluidColourIsBorder=false

    # When false laser beams will not be visible while transmitting power without wearing Goggles
    B:renderLaserBeams=true

    # Should localised strings be displayed in terms of seconds (1 MJ/s) or ticks (20 MJ/t)
    S:timeGap=ticks

    # Should flowing fluid values be displayed in terms of buckets per second rather than thousandths of a bucket per tick? (B/s vs mB/t)
    B:useBucketsFlow=false

    # Should static fluid values be displayed in terms of buckets rather than thousandths of a bucket? (B vs mB)
    B:useBucketsStatic=false

    # Should colours be displayed as their own (or a similar) colour in tooltips?
    B:useColouredLabels=true

    # Should colours displayed in tooltips use higher-contrast colours?
    B:useHighContrastColouredLabels=false

    # Should localised strings be displayed in long or short form (10 mB / t vs 10 milli buckets per tick
    B:useLongLocalizedName=false

    # Disable this if you get texture errors with optifine. Disables some texture switching functionality when changing config options such as colour blind mode.
    B:useSwappableSprites=true
}


experimental {
    S:kinesisLossMode=lossless
}


general {
    S:chunkLoadLevel=self_tiles

    # How long, in seconds, should items stay on the ground? (Vanilla = 300, default = 60)
    I:itemLifespan=60

    # How far, in minecraft blocks, should markers (volume and path) reach?
    I:markerMaxDistance=64

    # Should BuildCraft miners be allowed to break blocks using player-specific protection?
    B:miningBreaksPlayerProtectedBlocks=false

    # How much further down can miners (like the quarry or the mining well) dig?
    # (Note: values above 256 only have an effect if a mod like cubic chunks is installed).
    I:miningMaxDepth=512

    # How much power should be required for all mining machines?
    D:miningMultiplier=1.0
    I:pipes.baseFluidRate=10
    I:pipes.mjPerItem=1000000
    I:pipes.mjPerMillibucket=1000

    # How far, in minecraft blocks, should pumps reach in fluids?
    I:pumpMaxDistance=64

    # Should pumps consume water? Enabling this will disable minor optimisations, but work properly with finite water mods.
    B:pumpsConsumeWater=false

    # How often, in ticks, should network update packets be sent? Increasing this might help network performance.
    I:updateFactor=10
}


performance {
    # Disable this if you get sub-standard framerates due to buildcraft's ~60 sprites animating every frame.
    B:enableAnimatedSprites=true

    # The maximum number of search results to display in the guide book.
    I:maxGuideSearchResults=1200
}


worldgen {
    # Should BuildCraft generate anything in the world?
    B:enable=false
    B:enableOilGen=false
    S:excessiveBiomes <
        buildcraftenergy:oil_desert
        buildcraftenergy:oil_ocean
     >
    S:excludedBiomes <
        minecraft:hell
        minecraft:sky
     >
    I:excludedDimensions <
        -1
        1
        20
     >

    # Should BuildCraft generate water springs?
    B:generateWaterSprings=false
    S:surfaceDepositBiomes <
     >
}


