# Configuration file

general {
    # Blacklist dimensions from the JEI profiling scan
    I:dimensionsBlacklist <
        -11
     >

    # The build in compat code will not load and jsons will be loaded (requires MC restart)
    B:diyData=true

    # Blacklist enchants from the JEI Enchants View
    S:enchantsBlacklist <
        flimflam
        soulBound
     >

    # Changes the amount of items per column in the JEI dungeon and mob views
    I:itemsPerColumn=4

    # Changes the amount of items per row in the JEI dungeon view
    I:itemsPerRow=4
}


