# Configuration file

~CONFIG_VERSION: 2.9.11

client {
    # Equips elytra in priority when recovering your lost items [default: false]
    B:equip_elytra_in_priority=false

    # Favorite grave [default: GRAVE_SIMPLE]
    S:favorite_grave=GRAVE_SIMPLE

    # Highlight the tomb from far when holding the key [default: true]
    B:highlight=true

    # Decimal value for the color of the particles when using magic items [range: 0 ~ 16777215, default: 4995050]
    I:particle_casting_color=4995050

    # Shows all the infos in the tooltip of items [default: true]
    B:show_enhanced_tooltips=true

    # Shows fog around the graves [default: true]
    B:show_fog=true

    # Shows shadow step particles [default: true]
    B:show_shadow_step=true

    # Skips the Respawn Screen [default: false]
    B:skip_respawn_screen=false

    # Decimal value for the color of the grave text <Death Date> [range: 0 ~ 16777215, default: 2962496]
    I:text_color_death_date=2962496

    # Decimal value for the color of the grave text <Owner Name> [range: 0 ~ 16777215, default: 5991302]
    I:text_color_owner=5991302

    # Decimal value for the color of the grave text <R.I.P.> [range: 0 ~ 16777215, default: 2962496]
    I:text_color_rip=2962496
}


general {
    # Allows to auto-equip Aether Legacy slots [default: true]
    B:allow_aether_legacy_autoEquip=true

    # Allows to auto-equip the Baubles slots [default: true]
    B:allow_baubles_autoEquip=true

    # Allows creative players for siege location [default: true]
    B:allow_creative_players_for_siege=true

    # Allows to auto-equip Galacticraft slots [default: true]
    B:allow_galacticraf_autoEquip=true

    # Allows to auto-equip RPG Inventory slots [default: true]
    B:allow_rpg_inventory_autoEquip=true

    # Allows to auto-equip Techguns slots [default: true]
    B:allow_techguns_autoEquip=true

    # Allows to auto-equip The BetweenLands slots [default: true]
    B:allow_the_between_lands_autoEquip=true

    # Chance to get an already enchanted grave's key on death [range: 0 ~ 100, default: 0]
    I:chance_enchanted_grave_key=0

    # Chance on 1000 for undead mobs to drop Grave's Dust  [range: 0 ~ 1000, default: 100]
    I:chance_grave_dust=100

    # Chance to loot a Lost Tablet by fishing [range: 0 ~ 100, default: 5]
    I:chance_loot_lost_tablet=5

    # Chance to have some losses on death [range: 0 ~ 100, default: 0]
    I:chance_loss_on_death=0

    # Chance on 1000 for graves to get a soul when it thunders [range: 0 ~ 1000, default: 100]
    I:chance_soul=100

    # Time in minutes before tomb doesn't need key (-1 = disable) [range: -1 ~ 2147483647, default: -1]
    I:decay_time=-1

    # Disables the tick for village siege in Nether and End [default: true]
    B:disable_nether_end_siege_tick=true

    # Enables the enchantment Shadow Step [default: true]
    B:enable_enchantment_shadow_step=true

    # Enables the enchantment Soulbound [default: true]
    B:enable_enchantment_soulbound=true

    # Duration of Ghostly Shape Effect in seconds [range: 0 ~ 600, default: 120]
    I:ghostly_shape_duration=120

    # Always give a Grave's Key at player's death [default: true]
    B:grave_key_on_death=false

    # Graves are allowed to bypass anti-griefing rules [default: true]
    B:graves_by_pass_griefing_rules=true

    # Handles the player's death [default: true]
    B:handle_player_death=true

    # Handles the player's experience [default: true]
    B:handle_player_xp=true

    # Handle village sieges [default: false]
    B:handle_village_siege=false

    # Logs player's grave positions [default: true]
    B:log_player_grave=false

    # Cancels Ghostly Shape if you break a block or open a chest [default: false]
    B:nerf_ghostly_shape=false

    # Shadow Step is only active while sneaking [default: false]
    B:nerf_shadow_step=false

    # Percent of losses on death [range: 0 ~ 100, default: 0]
    I:percent_loss_on_death=0

    # Requires the Grave's Key to open the player's grave [default: true]
    B:player_grave_access=false

    # Prevents to die out of world borders [default: false]
    B:prevent_death_outside_world=false

    # PVP Mode allowing to open the tombstone of killed players [default: true]
    B:pvp_mode=true

    # Enables to backup automatically players [default: true]
    B:recovery_player_enable=true

    # Time in minutes between players' backups [range: 10 ~ 120, default: 60]
    I:recovery_player_timer=60

    # Restores the beneficial effects after a player's death [default: false]
    B:restore_effects_on_death=false

    # Restricts the effect of Shadow Step to players [default: true]
    B:restrict_shadow_step_to_player=true

    # Chance a siege to occurs [range: 0 ~ 100, default: 10]
    I:siege_chance=10

    # Maximum of creatures to appear in a siege [range: 0 ~ 100, default: 20]
    I:siege_max_creature=20

    # Minimum of doors for a siege [range: 0 ~ 50, default: 10]
    I:siege_min_door=10

    # Minimum of golems for a siege [range: 0 ~ 5, default: 0]
    I:siege_min_golem=0

    # Minimum of villagers for a siege [range: 0 ~ 50, default: 20]
    I:siege_min_villager=20

    # Radius to collect items around when a player grave is spawnned [range: 1 ~ 10, default: 5]
    I:sniffer_range=4

    # Allows some features for the mod Wearable BackPacks [default: false]
    B:support_wearable_backpacks=false

    # Maximum number of uses for tablet [range: 1 ~ 20, default: 5]
    I:tablet_use_count=5

    # Allows teleport to others dimensions [default: true]
    B:teleport_dim=false

    # Sets the decorative graves unbreakable [default: false]
    B:unbreakable_decorative_grave=false

    # Allows the undeads to have a low chance to drop their skull [default: true]
    B:undead_can_drop_skull=true

    # Experience loss (%) [range: 0 ~ 100, default: 0]
    I:xp_loss=100
}


